<a  href="<?php echo($this->getNextAction('dienst')); ?>" style="float:left;" title="Toon de actuele dienst op deze locatie. Dit is de dienst die als eerste volgt of net afgerond is." >
	<img src="<?php $this->printImageSrc('hourglass.png'); ?>"  height="28" />
</a>
<h3 style="margin-top:0px;float:left;">Geen Diensten voor uw selectie</h3>

<script>
	
	$(document).ready(function(){	
		 $('#StatsInfo').html("&nbsp;");
		 $('#BezoekersInfo').html("&nbsp;");
			
	});		
	


	
	

</script>
