<?php 
	$rowCounter = 0;
	$accesLevelItem = new AccesLevel('viewer');
	$hasClearence = $this->accesLevelUser->getClearance() <= $accesLevelItem->getClearance();
?>
<style>
	div.picture {
		float    :left;
		height : 60px;
		width  : 60px; 
		background-position : top left;   
		background-size : contain; 
		background-repeat : no-repeat;	
		background-image  : url(<?php $this->printImageSrc('basePhoto.png'); ?>);	
		margin-right: 5px;			
	}
	
	div.visitCard {
		float:left;
		width:292px;
		height:60px;
		background:ivory;
		border: 2px groove white;
		margin-right:2px;
		font-size:11pt;
	}
	
	div.visitCard  div.row {
		clear:right;width:224px;height:20px;overflow:hidden;
	}
		
	
</style>
<div style="display:block;overflow:hidden;">
	<?php foreach($bezoekers as $bezoeker) {			
			$canDelete = !$bezoeker['showed_up'] && $hasClearence;	
			$bezoekerId = intval($bezoeker['member_id']);
			$planningHrf = null;
			$prefHrf = null;
			$accesLevelItem = new AccesLevel('pastors');		
			if ($bezoekerId > 0 && $this->accesLevelUser->getClearance() <= $accesLevelItem->getClearance()){
				$returnUrl = $this->getActionURL();
				$planningHrf = $this->getHrefServiceAction('clientCard','planning', $bezoekerId.'/?returnUrl='.$returnUrl);
				$prefHrf = $this->getHrefServiceAction('clientCard','times', $bezoekerId.'/?returnUrl='.$returnUrl);
			}					
	?>
    <div class="visitCard">
		<?php if ($prefHrf  != null) {  ?>
			<a href="<?php echo($prefHrf); ?>"  style="float:right;"><img src="<?php  $this->printImageSrc('calendar_select_week.png')  ?>"  /></a>
		<?php }  ?>	
		<div class="picture"  
			id="Picture<?php echo $bezoekerId; ?>" 
			data-id="<?php echo $bezoekerId; ?>"  style="float:left;margin-right:5px;" >
			&nbsp;
		</div>		
		<?php if ($planningHrf  != null) {  ?>
			<a href="<?php echo($planningHrf); ?>"  style="float:left;" ><?php echo($bezoeker['naam']); ?></a>
		<?php  } else { ?>
			<label style="float:left;"><?php echo($bezoeker['naam']); ?></label><br/>
		<?php }  ?>		
        <div class="row">
            <label style="float:left;width:100px;"><?php echo($bezoeker['rescode']); ?></label>          
			<div  id="aanwezigHeid<?php echo $bezoeker['id']; ?>" style="float:left;">
				<?php if ($bezoeker['showed_up']) { ?>
					<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/tick.png"  height="18" />
				<?php } else if ($canCheck) { ?>
					<label style="float:left;cursor:pointer;"><img style="float:left;"src="<?php $this->printImageSrc('door_in.png'); ?>"   />
					   <input type="checkbox"
					    style="margin:0;margin-left:-20px;visibility:hidden;" 	onclick="meldAanwezigheid('aanwezigHeid<?php echo $bezoeker['id']; ?>', <?php echo $bezoeker['id']; ?>, 'delPerson<?php echo $bezoeker['id']; ?>');"/>
						</label>
				<?php }  ?>		
			</div>          
        </div>
		<div class="row">		    
			<?php if ($canDelete) { 
				$bezoekerNaam = $bezoeker['naam'];
				$bezoekerDatum = $bezoeker['service_date'];
				$dateSrc  = $bezoekerDatum.' 12:00 CET';
				$dateTime = new DateTime($dateSrc, new DateTimeZone('Europe/Amsterdam')); 				
				$itemDate = date_format($dateTime, 'd-m-yy');	
				$lastDayName = strftime ( '%A', $dateTime->getTimestamp());
				$itemTime = substr($bezoeker['start_time'],0, 5);
			?>
			<div  id="delPerson<?php echo $bezoeker['id']; ?>"  style="float:right;">
				<a href="<?php  echo $this->getNextAction('removeUser', '/'.$bezoeker['id']); ?>" title="<?php echo($bezoeker['naam']); ?> verwijderen uit deze dienst."
				 onClick="return deletePersonByID('<?php echo($bezoekerNaam); ?>','<?php echo($lastDayName); ?>','<?php echo($itemDate); ?>','<?php echo($itemTime); ?>')">
					<img src="<?php  $this->printImageSrc('delete.png')  ?>" height="12"  style="float:right;margin-top:4px;" />
				</a>
			</div>	
			<?php  } ?>		
			<label style="float:left;width:100px;font-size:10pt;color:navy;"><?php echo($bezoeker['gsm']); ?></label>				
		</div>	      
    </div>    
    <?php } ?>
</div>
<script>
	var pictureURL = new Array();
	var pointer = 1;
	var pictureTimer = null;
	var specialKeys = new Array();
	specialKeys.push(8); //Backspace

	
	function pictureUpdateData(id){
		this.id = id;
		this.searchID = "Picture"+id;
	}	
    <?php  foreach($bezoekers as $visitor)  { 
		$memberId = intval($visitor['member_id']);	
	?>		
		<?php if ($memberId > 0)  {	?>
			pictureURL[pictureURL.length] = new pictureUpdateData(<?php echo($memberId); ?>);
			<?php echo("\n"); ?>
		<?php } ?>
	<?php } ?>
		
	function fetchTimedBezoekerCards() {
		//spiek at /admin/bezoekers/statsTimed
		if (pointer <= pictureURL.length) {			
			var myPict = pictureURL[pointer-1]; 
			pointer++;

			$.getJSON("<?php $this->printAction('clientFetchImageByPersonId'); ?>",
			    {personId : myPict.id, searchID: myPict.searchID }, 
				function(data){
					if (data.data != null) {
						$('#'+data.searchID).css('background-image','url('+ data.data + ')');
					}
					
				}			
			).fail(function() {         
					// just in case posting your form failed
					//alert( "GET failed." );					 
				});	
		} else {
			if (pictureTimer != null) {
				window.clearInterval(pictureTimer);
			}				
		}
	}		

	function deletePersonByID(naam, dagnaam, datum, tijdstip) {
		if (confirm("Weet u zeker dat u `"+ naam + "` wilt verwijderen voor de dienst van "+ dagnaam + " "+datum	+			
					" om " + tijdstip + " ?")) {
			return true;
		}
		return false;
	}
	
	
	$(document).ready(function(){			
		pictureTimer = window. setInterval(function() {
			fetchTimedBezoekerCards();
		}, 100);		
	});		

</script>
