<?php 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		width:100%;
		
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: lightblue;
		height: 35px;
		border : 2px groove white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor {
		height: 35px;
	}
	

	
	table.zebra tbody tr.rowToColor:nth-child(5n-4) {
     	background-color: linen;   
	}
	
</style>
<div class="CenterPage">
	<h1><?php echo($location['city']); ?>, <?php echo($location['address']); ?>:&nbsp;  <?php echo($event_data); ?>  [<?php echo($displayTime); ?>]</h1>
	<?php if ($request['bezet'] > $request['max'])  {  ?>
		<h3 style="color:red;font-weight:bold;margin-top:-10px;">Overboeking: Toegestaan = <?php echo($request['max']); ?>, Gereserveerd =  <?php echo($request['bezet']); ?></h3>	
	<?php }  ?>
	<table class="zebra">
		<?php foreach($bezoekers as $bezoeker) { ?>
		<?php  
			$rowCounter++;
			$styleX = ($rowCounter % 30) == 0 ? "style=\"page-break-after: always;\"" : "";	
		?>	
		<?php  if (($rowCounter % 30) == 1)  {	?>	
		<tr class="header">
			<th>Naam</th><th style="width:150px;">Telefoon</th><th style="width:150px;">Code</th><th style="width:150px;">Aanwezig</th>
		</tr>	
			
		<?php }	?>	
		<tr class="rowToColor"  <?php echo($styleX );  ?>>
			<td><?php echo($bezoeker['naam']); ?></td>
			<td><?php echo($bezoeker['gsm']); ?></td>
			<td><?php echo($bezoeker['rescode']); ?></td>
			<td><?php if ($bezoeker['showed_up']){ ?>
				<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/tick.png"  height="18" /><?php } else { ?>  
				________________________<?php }?>  	 
			</td>
		</tr>
		<?php } ?>
	</table>
</div>
<script>
	$(document).ready(function(){			
		window.print();
	});		
		
</script>		
