<?php  echo("<!--   Nothing -->\n");  ?>
<form name="reportSelect" style="display:block;overflow:hidden;"  onsubmit="return false">
  <input type="hidden"  name="useDate"  value="<?php echo $lastEventDate; ?>" />
  <input type="hidden"  name="dayNumber"  value="<?php echo $lastDayNumber; ?>" />
  <label style="float:left;margin-right:5px;">
     <select name="location">
        <?php foreach($locations as $location) {
			$selected = intval($location['ukgr_code']) == intval($lastUkgrCode) ? ' SELECTED'  : ''; ?>
			<option value="<?php echo($location['ukgr_code']);  ?>" <?php echo($selected);  ?>>
			<?php echo($location['ukgr_code']);  ?>: <?php echo($location['city']);  ?>, &nbsp; <?php echo($location['address']);  ?></option>
			
		<?php } ?>	
     </select>
  </label>
  <label style="float:left;margin-right:5px;">
     <input type="text" id="datepicker"  name="datepicker" value="<?php echo $lastDisplayDate; ?>"  size="10"/>
  </label>  
  <div style="margin-right:5px;" id="TimeOfAvailability">
   
  </div>   
</form>
<script>
	var StatsTimer = null;	
	var specialKeys = new Array();
	specialKeys.push(8); //Backspace
	specialKeys.push(43); //Plus
	
	function IsNumeric(e) {
		var keyCode = e.which ? e.which : e.keyCode
		var ret = ((keyCode >= 48 && keyCode <= 57) || (e.shiftKey && keyCode==43) || specialKeys.indexOf(keyCode) != -1);
		return ret;
	}
	
	
	function fetchTimedData() {
		$.getJSON("/admin/bezoekers/statsTimed", function(json){
				if (json.vrij == 0) {
					 window.clearInterval(StatsTimer);
					 $('#StatsInfo').html("<h3 style=\"color:purple;margin-top:-10px;\">Volgeboekt</h3>	");					
				} else if (json.vrij < 0) {
					window.clearInterval(StatsTimer);
					 $('#StatsInfo').html("	<h3 style=\"color:red;font-weight:bold;margin-top:-10px;\">Overboeking: Toegestaan = "+
						json.max + ", Gereserveerd =  "+ json.bezet +"</h3>");
				} else if (json.vrij > 4) {
					if (StatsTimer != null) {
						window.clearInterval(StatsTimer);
					}	
				} else {
					if ($.isEmptyObject($("#StatsInfo"))) {
						if (StatsTimer != null) {
							window.clearInterval(StatsTimer);
						}							
					}					
				}
		 });
	} 		
</script>

<div id="StatsInfo" style="clear:both;margin-top :10px;">

</div>
<div id="BezoekersInfo" style="clear:both;margin-top :10px;">

</div>

<script>
	function fetchTimes(ukgrCode, dayNumber, requestDate) {
		$.get("/admin/bezoekers/times", {
			ukgr_code: ukgrCode,
			day_number : dayNumber,
			event_date: requestDate
		  },
		  function(data, status){
			 $("#TimeOfAvailability").html(data);  	
		  });	 
	}
	
	function fetchData() {
	    var dateObject = $("#datepicker").datepicker("getDate");
		var useDate    = $.datepicker.formatDate("yy-mm-dd", dateObject);				
		var dayNumber  = 1 + dateObject.getDay();
		
		var ukgrCode   = $(document.forms['reportSelect'].elements['location']).val();	
		var timeSelect = $(document.forms['reportSelect'].elements['times']);		
		var timeId     = timeSelect.val();			
		var displayTime = $('option:selected', timeSelect).attr('data-showtime');
		
		$.get("/admin/bezoekers/overzicht", {
			ukgr_code  : ukgrCode,
			day_number : dayNumber,
			event_date : useDate,
			time_id    : timeId,
			show_time  : displayTime
		  },
		  function(data, status){
			 $('#BezoekersInfo').html(data);
		  });

		  
		$.get("/admin/bezoekers/stats", {
			ukgr_code  : ukgrCode,
			day_number : dayNumber,
			event_date : useDate,
			time_id    : timeId,
			show_time  : displayTime
		  },
		  function(data, status){
			 $('#StatsInfo').html(data);

		  });	  
		  return false;	
	}
	
	function initializeTimes(){
		var dateObject = $("#datepicker").datepicker("getDate");
		var dateString = $.datepicker.formatDate("yy-mm-dd", dateObject);				
		$("form[name='reportSelect'] :input[name='useDate']").attr('value', dateString);
		var dayValue = 1 + dateObject.getDay();
		$("form[name='reportSelect'] :input[name='dayNumber']").attr('value', dayValue);
		var ukgrCode = $(document.forms['reportSelect'].elements['location']).val();
		fetchTimes(ukgrCode, dayValue, dateString);		
	}
	
	function meldAanwezigheid(targetId, personId, delIdTD) {
		$.get("/admin/bezoekers/meldAanwezigheid", {
			person_id  : personId
		  },
		  function(data, status){
			 $('#'+targetId).html(data);
			 $('#'+delIdTD).html("&nbsp;");
		});
	}
	

	$(document).ready(function(){			
		$.datepicker.setDefaults($.datepicker.regional['nl']);
		$( "#datepicker" ).attr('value', "<?php echo($lastDisplayDate); ?>");
 		$( "#datepicker" ).datepicker({ 
			dateFormat : 'dd-mm-yy' ,
			onSelect: function(dateText) {		
				initializeTimes();
			}		
		});	
		$(document.forms['reportSelect'].elements['location']).on('change', function() {
			initializeTimes();
		});
		
		initializeTimes();
		$("form[name='reportSelect'] :input[name='datepicker']").blur();
		$("form[name='reportSelect'] :select[name='location']").focus();
			
			
		
	});	

</script>
