<?php  	
	$vrij = $request['max'] - $request['bezet'];
	$formVisible = false;
?>
<?php if ($request['bezet'] < $request['max'])  {  ?>	
	<?php if ($vrij > 4)  {  ?>		
		<h3 style="color:green;margin-top:-10px;margin-bottom:0px;">Plaatsen vrij: <?php echo($vrij); ?></h3>
	<?php } else { ?>
		<h3 style="color:green;margin-top:-10px;margin-bottom:0px;">Plaatsen vrij: <?php echo($vrij); ?> &nbsp; &nbsp;
			<span style="color:red;cursor:pointer;"  title="Opletten bij het toevoegen. Mogelijk wordt het niet opgeslagen.">(Bijna vol!)</span> 
		</h3>
		
	<?php } ?>	
	
	<?php
	    $accesLevelItem = new AccesLevel('viewer');
		if ($this->accesLevelUser->getClearance() <= $accesLevelItem->getClearance()){
			$formVisible = true;			?>
			<form style="margin:0;padding:0;" method="post">
				<input type="hidden" name="ukgr_code" value="<?php echo($request['ukgr_code']); ?>" />
				<input type="hidden" name="day_number" value="<?php echo($request['day_number']); ?>" />
				<input type="hidden" name="event_date" value="<?php echo($request['event_date']); ?>" />
				<input type="hidden" name="time_id" value="<?php echo($request['time_id']); ?>" />
				<table class="edit">
				  <tr style="font-weight:bold;color:green;"><td>Naam</td><td>Mobiel</td><td>email</td><td>code</td><td>&nbsp;</td></tr>
				  <tr>
					  <td><input type="text" name="naam" value="" required /></td>
					  <td>				 
						 <input type="tel"
						   name="gsm"  value="" 
							placeholder="+316xxxxxxxx"
							pattern="^[-+]?[0-9]{10,12}$"						
							onkeypress="return IsNumeric(event);"	
							title="U mag minimaal 10 tot maximaal 12 cijfers (GEEN Letters) invoeren."							
							size="12" />  
					  </td>
					  <td><input type="text" name="email" value=""  placeholder="visitor@ukgr.nl" /></td>
					  <td><img src="<?php echo($this->globals['admin']);  ?>/script/adminCaptcha.png" alt="CAPTCHA" 
								style="float:left;margin-right:10px;" /></td>
					  <td><input type="image" src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/users_add.png" 	 width="22"   /></td>			
				  </tr>
				</table>
			</form>
	<?php } ?>	
<?php } else { ?>
	<?php if ($request['bezet'] > $request['max'])  {  ?>
		<h3 style="color:red;font-weight:bold;margin-top:-10px;">Overboeking: Toegestaan = <?php echo($request['max']); ?>, Gereserveerd =  <?php echo($request['bezet']); ?></h3>	
		
	<?php } else { ?>
		<h3 style="color:purple;margin-top:-10px;">Volgeboekt</h3>	
	<?php } ?>
<?php } ?>

<?php if ($vrij <= 4 && $formVisible == true) {  ?>		
	<script>		
		$(document).ready(function(){
			StatsTimer = window. setInterval(function() {
				fetchTimedData();
			}, 3*60*1000);		
		});		
	</script>	
<?php } else { ?>
	<script>
		$(document).ready(function(){
			if (StatsTimer != null) {
				window.clearInterval(StatsTimer);
			}	
		});	
	</script>
	
<?php } ?>			
