<a id="printArea" href="javascript:printMe();" style="float:right;" >
	<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/printer_text.png"  height="35" />
</a>

<label style="float:left;margin-right:10px;" >
	<select name="times" onchange="fetchData();" >
	<?php foreach($times as $time) { ?>
		<?php $selected = intval($lastTimeId) ===  intval($time['id'])  ? ' SELECTED'  : '';	?>
		<option value="<?php echo($time['id']);  ?>"  <?php echo($selected );  ?>   data-showtime="<?php echo(substr($time['start_time'],0, 5));  ?>"><?php echo(substr($time['start_time'],0, 5));  ?></option>	
	<?php } ?>	
	</select>
</label> 
<a  href="<?php echo($this->getNextAction('dienst')); ?>" style="float:left;" title="Toon de actuele dienst op deze locatie. Dit is de dienst die als eerste volgt of net afgerond is." >
	<img src="<?php $this->printImageSrc('Hourglass_902x.gif'); ?>"  height="30" />
</a>
<script>
	$(document).ready(function(){			
			fetchData();
	});		
		
	
	function printMe(){		
		var frameId = 'tempPrintFrame';
		var prevFrame = document.getElementById(frameId);
		if (prevFrame != null ) {
			document.body.removeChild(prevFrame);
		}
		
		var dateObject = $("#datepicker").datepicker("getDate");
		var useDate    = $.datepicker.formatDate("yy-mm-dd", dateObject);				
		var dayNumber  = 1 + dateObject.getDay();
		var ukgrCode   = $(document.forms['reportSelect'].elements['location']).val();	
		var timeId     = $(document.forms['reportSelect'].elements['times']).val();		
		var timeStamp  = new Date().getTime();			
		var src        = "<?php echo($this->globals['admin']);  ?>/bezoekers/printMe/"+ukgrCode+'/'+useDate+'/'+dayNumber +'/'+timeId+'/'+timeStamp;

		var myframe = document.createElement('IFRAME');
		myframe.id = frameId;
		myframe.domain = document.domain;
		myframe.style.position = "absolute";
		myframe.style.top = "-10000px";
		myframe.src = src;
		document.body.appendChild(myframe);		
		event.stopPropagation();
	}
	
</script>	
