<tr><td colspan="3">&nbsp;<hr />  &nbsp;</td></tr>
<tr>
	<td class="tdtitle">Datum en Tijd</td><td>: &nbsp;</td>
	<td>#STARTTIME</td>
</tr>
<tr>
	<td  class="tdtitle">Reserverings code</td><td>: &nbsp;</td>
	<td>#RESERVERINGSCODE</td>
</tr>			
<tr>
	<td  class="tdtitle">Intern nummer</td><td>: &nbsp;</td>
	<td>#INTERNALID</td>
</tr>	

