@import "common.css";

@-ms-viewport{
  width: device-width;
}

body {
    background: SkyBlue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000000;
    overflow: auto;
    vertical-align: top;
    padding-bottom : 5px;
}

div.innerBody {	
	display: block;
	overflow:hidden; 
}


marquee {
 font-size:10pt !important;
}


body.tv {
  margin : 0;
  background : black;
}

.ui-tabs .ui-tabs-panel{
    padding: 2px 2px;

}


div.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.inner {
	margin-left: auto;
	margin-right: auto;
	width: device-width;
	/*whatever width you want*/
	background-color: white;
	overflow : hidden;
	padding: 10px;  

}



iframe.covid19 {
	display:block;
	overflow:hidden;
	width:100%;
	height:395px;
	margin:0;
	padding:0;
}



div.MainCenterPage {
    display: block;
    overflow: hidden;
    background-color: white;
    width: device-width;
    margin : 0 auto 0 auto;
    border: groove 2px  white;
    padding : 4px;    
    min-height: 300px;
}
