@import url("jquery-ui-1.12.1/jquery-ui.css");

h1 {
    color : #DD0000;
    font-size : 14pt;
}

h2 {
    color : #DD0000;
    font-size : 12pt;

}

h1.logo {
    text-align: left;

    display : block;
    background-image: url("images/ukgr.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    color : #DD0000;

}

h2.logo {
    text-align: center;

    display : block;
    background-image: url("images/ukgr.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    color : #DD0000;
    font-size : 12pt;
    text-align: center;
}

p {
    color : #200000;
    text-align: justify;
    text-justify: inter-word;
}

article {
    text-align: justify;
    text-justify: inter-word;
    color : #200000   ;
}

section p {
  text-align: justify;
  text-justify: inter-word;
}

P img.story {
    width : 40%;
    float:right;
    margin-left:20px;
}

.red-orange-brown {
    background-image: linear-gradient(to right, red, orange 20%, brown 66%, gold);
    background-image: linear-gradient(to right, gold, brown 20%, orange 66%, BlanchedAlmond );
    color: transparent;
    -webkit-background-clip: text;
}

blockquote {
  font-style:italic;
  color: navy;
  margin : 10px;
}


.blueToGold {
    background-image: linear-gradient(to right, brown  ,Chocolate   20%, orange 66%, BlanchedAlmond );
    color: transparent;
    -webkit-background-clip: text;
}

article.songs {
   text-align:center;
}

article.songs section {
    display: inline-block;
    text-align: left;
    margin-bottom: 15px;
}


a {
  text-decoration: none;
}

a.footer {
  text-decoration: none;
  color : seagreen !important;
}


.container {
position: relative;
width: 100%;
height: 0;
padding-bottom: 56.25%;

}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.menu {
   list-style-type: square;
   margin : 0;
   padding : 0;
}

ul.menu li:hover {
   margin : 0;
   padding : 0;
   background-color: lightblue;
}


div.audioOUTER {
	display: block;
	margin: 5px; 
	overflow:hidden;
}

div.progresstimer {
	display: block;
	margin-top: 5px; 
}

audio {
	display: block;
	margin: 0 auto;    
	margin-bottom :5px;  
}


div.audioOUTER select {
	display: block;
	margin: 0 auto;    
	margin-top :5px;
	margin-bottom :5px;
}

div.audioOUTER select option {
  text-align:center;
}


div.audioOUTER button.audiostate {
	float : right;
	border: none;
	background-color: transparent;
	outline: none;		
	background-repeat: no-repeat;
	background-position: center center; 
	width : 25px;
	height: 20px;
	color : transparent;
	cursor : pointer;
}

div.audioOUTER button.audiostate.on {
 background-image: url("images/pauseEmpty.png"); 
}


label.gender {
   border-radius: 5px;
   border: 2px groove white;
   float:left;
   width:90px;
   margin-right:10px;
}

label.gender input[type=radio] {
   float:left;margin-left:0;margin-top:1px;width:20px;
}

label.gender.male {   
   background-image: url("images/genderMALE.png"); 
   background-position: right 1px; 	 
   background-repeat: no-repeat;
}

label.gender.female {
   background-image: url("images/genderFEMALE.png"); 	  
   background-position: right 1px; 
   background-repeat: no-repeat;
}

div.audioOUTER button.audiostate.off {
 background-image: url("images/playEmpty.png"); 
}

div.audioOUTER a.orgSite {
	float:left;
	margin-left: 2px;
	background-image: url("images/www.png"); 
	background-repeat: no-repeat;
	background-position: center; 
	background-size:cover;
	width : 20px;
	height: 20px; 
}


div.accordion{
	 background-color: transparent; 	

}


div.accordion .ui-state-focus{
    outline: none;
}
		  
.ui-accordion-header.ui-state-active { 
    border :none;
	background-image: url("images/ukgr.png");
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: contain;
} 

div.containerDrop {
	padding:0px !important;
	background-color:transparent;
}

div.sliderVolumeOUTER {
    clear : both;
    overflow:hidden;
	background-image: url("images/level.png");
    background-position: left 0px center 20px;
    background-repeat: no-repeat;

}

div.sliderVolumeINNER {
	/*
	margin-top:5px;
	margin-right:30px;
	margin-left:30px;
	* top right left bottom 
	*/ 
	margin : 5px 30px 20px 35px ;
	width: auto;	
}


div.sliderVolumeINNER .ui-widget-header{
	background-image:none;
	background-color:SteelBlue !important;
}


div.sliderProgressOUTER {
    clear : both;
    overflow:hidden;
}

/*
	margin: 25px 50px 75px 100px;
	top margin is 25px
	right margin is 50px
	bottom margin is 75px
	left margin is 100px
 */ 

div.sliderProgressINNER {
	/*
	margin-top:5px;
	margin-right:30px;
	margin-left:30px;
	* top right  bottom left
	*/ 
	margin : 10px 80px 10px 35px ;
	width: auto;
}


div.sliderProgressINNER .ui-widget-header{
	background-image:none;
	background-color:RebeccaPurple !important;
}


div.sliderProgressOUTER button.audiorewind {
    margin-top:5px;
	float : left;
	border: none;
	background-color: transparent;
	outline: none;		
	background-repeat: no-repeat;
	background-position: center center; 
	width : 25px;
	height: 25px;
	color : transparent;
	cursor : pointer;
	background-image: url("images/rewind.png"); 
}





div.MenuBar {
    position :relative;
    background-color: transparent;
    width: 100%;

    margin : 12px auto 0 auto;
    padding :0 5px 0 5px; /* top right bottom left */
}

a.menuButton {
    display: inline-block;
    height : 20px;
    width:50px;
    text-decoration: none;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
    background-color: aliceblue;
    color: gray;
    border: 2px inset white;
    border-bottom: 2px inset white;
    background-position : top center;   
    background-size : contain; 
    background-repeat : no-repeat;
    margin:0;
    padding-top : 3px;
}

a.menuButton:hover {
    color: black;
}

a.menuButton.current {
    background-color: #ffffff;
    border: groove 2px  white;
    border-bottom: none;
    height : 25px;
    color: navy;
    font-weight: bold;
    margin-bottom : -2px;
}


div.headerTop {
	background-image: url("images/ukgr.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:white;
    display:block;
	overflow:hidden;	
	border: groove 2px  white;
}


table.edit {
    clear: both;
    display:block;
    overflow: hidden;
    width: 100%;
	border-collapse: collapse;
	margin-left: 0px;
	margin-right:20px;
}

	
table.edit tr th {
	text-align : left;
}

table.edit tr {
	height: 25px;
}

table.edit tr:nth-child(even)  {
	background-color: linen;
}

table.edit tr td {
	 padding-left : 2px;
	 vertical-align: top;
}



table.display {
	 border-collapse: collapse;
	 background-color: linen;
	 border : 2px groove white;
	 width:98%;
}

 table.display thead {
	 background-color: lavender;
	 border-bottom : 2px groove white;

}

table.display thead tr th {
	 text-align:left;
	 padding-left : 3px;

}


table.display tbody tr:nth-child(even)  {
	background-color: ivory;
}

table.display tr td {
	 padding-left : 2px;
}




table.fullSize {
   width:100%;
   margin:0;
   padding:0;
   border-collapse: collapse;
   
}

table.fullSize tr td {
   white-space : normal;
  
}

table.fullSize tr th {
   text-align:left;
}

table.fullSize tr.header {
   height: 25px;
   background-color:lavender;
   border:2px groove white
}

table.fullSize tr.data {
   background-color:white;
}

table.fullSize tr.data td{
   vertical-align:top;
}

table.fullSize tr.data:nth-child(even)  {
	background-color: linen;
}   
