@import "common.css";

document {
	background: #FFFFFF; /* For browsers that do not support gradients */

}

body {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #000000;
    overflow: auto;
    background: SkyBlue;
}


div.innerBody {
	margin-top : 25px;
	display: block;
	overflow:hidden;
    background: SkyBlue;
    vertical-align: top;
    padding-bottom : 50px;
    width: 700px;
	margin-left:auto;
	margin-right:auto;	
	padding : 10px;
	

}

div.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.inner {
  display :block;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  /*whatever width you want*/
  background-color: white;
  border: 3px groove white;
  overflow : hidden;
  padding: 10px;  
}


marquee {
 font-size:11pt;
}




.ui-tabs .ui-tabs-panel{
    padding: 4px 4px;

}

iframe.covid19 {
	display:block;
	overflow:hidden;
	width:100%;
	height:450px;
	margin:0;
	padding:0;
}


div.MainCenterPage {
    display: block;
    overflow: hidden;
    background-color: aliceblue;
    width: 100%;
    margin : 0 auto 0 auto;
    border: groove 2px  white;
    padding : 4px;    
    min-height: 300px;
}
