@import "common.css";

document {
	background: transparent; /* For browsers that do not support gradients */

}

body {   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #000000;
    overflow: auto;
    background: transparent;
}

