<style>
	h1.banner {
		text-align: center;
		background-color: linen;
		margin-top : 0;
		padding: 3px;
		border : 2px groove white;		
		margin-bottom:0;
	}
    table.full {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
		 display:block;
		 overflow:hidden;
	}
	
	table.full tr th {
		text-align : left;
	}
	
	table.full tr {
		height: 25px;
	}
	
	table.full tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.full tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
	
	
	div.timeItems div.rowTimes:nth-child(even)  {
		background-color: linen;
	}

</style>
<form method="post" name="prefForm">
	<?php if (isset($this->request['returnUrl'])) {	  
	   $imageBack = 'clients.png';	
	   if (strpos($this->request['returnUrl'], 'planning') !== false) {
		    $imageBack = 'calendar_today.png';	
	   }		
	?>
		<a href="<?php echo $this->request['returnUrl']; ?>"  style="float:left;margin-left:10px;margin-right:10px;margin-top:2px;" >
			<img src="<?php  $this->printImageSrc($imageBack)  ?>" height="26" />
		</a>
	<?php } ?>	
	<a href="<?php $this->printAction('show'); ?>"  style="float:right;margin-left:10px;margin-right:10px;margin-top:2px;" >
		<img src="<?php  $this->printImageSrc('undo_blue.png')  ?>" height="26" /></a>
	<input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;margin-top:2px;" height="26"
		src="<?php $this->printImageSrc('document_save.png'); ?>"  />
			
	<h1 class="banner">Agenda van  <?php echo($userInfo['first_name']); ?> <?php echo($userInfo['last_name']); ?></h1>	
	<input type="hidden"  name="updateRequired"	value="YES"  />
	
	<div class="timeItems" style="clear:both;background:white;">
	<?php
	   function insertLabelInfo($isPreferred, $prefTime,  $txtColor, $currentSelected, $extraStyle, $weekTime,  $row, $selected, $disabled){
		?>
			<label  <?php if ($isPreferred) { echo("title=\"Voorkeurs-tijdstip\"");} ?> 
			  style="float:left;width:110px;<?php echo($txtColor); ?><?php echo($currentSelected); ?><?php echo($extraStyle); ?>">
			  <input type="radio" 
				name="person[<?php echo $weekTime['next_event']; ?>][time_id][<?php echo $prefTime; ?>]" 
				value="<?php echo $row->timeId; ?>" style="float:left;margin-right:1px;"  <?php echo($selected); ?>  <?php echo($disabled); ?>/>
			  <span style="float:left;"><?php echo $row->startTime; ?> <?php echo $row->info; ?></span>
			</label>   
		<?php   
	  }	  
	?>			
	<?php foreach($weekTimes as $weekTime) { 
		$dateSrc  = $weekTime['next_event'].' 12:00 CET';
		$dateTime = new DateTime($dateSrc, new DateTimeZone('Europe/Amsterdam')); 				
		$itemDate = date_format($dateTime, 'd-m-Y');	
		$prevTimeId = ($weekTime['time_id'] != null) ? intval($weekTime['time_id']) : 0;
		$hasNotSignedIn = 	!$weekTime['showed_up'];
		$dayName = strftime ( '%A', $dateTime->getTimestamp());
		$canDelete = $prevTimeId > 0  && !$weekTime['showed_up'] ;		
		$prefStartTime = substr($weekTime['pref_start_time'], 0, 5); 	
		$prefTime = intval($weekTime['pref_time_id']);         
	?>
		<div class="rowTimes"  style="display:block;overflow:hidden;">
			<div style="float:left;width:100px;"><strong> <?php echo($dayName ); ?></strong> </div>
			<div style="float:left;width:100px;">
				[<?php echo($itemDate); ?>] 
				<input type="hidden" name="person[<?php echo $weekTime['next_event']; ?>][day_number]"  value="<?php echo $weekTime['day_number']; ?>" />
				<input type="hidden" name="person[<?php echo $weekTime['next_event']; ?>][id][<?php echo $prefTime; ?>]" value="<?php if ($weekTime['id'] != null) echo $weekTime['id']; ?>" />
			</div>
			<?php if ($canDelete) { ?>
				<label style="float:right;width:210px;">
						<span style="float:right;margin-top:0px;margin-left:5px;"><?php echo($itemDate); ?></span>
						<img src="<?php  $this->printImageSrc('delete.png')  ?>" height="12"  style="float:right;margin-top:4px;" />
						<input type="checkbox" 
						name="person[<?php echo $weekTime['next_event']; ?>][del_id][<?php echo $prefTime; ?>]" 
						value="<?php echo $weekTime['id']; ?>" style="float:right;margin-right:1px;" />
						  
				</label>
			<?php } else if (!$hasNotSignedIn) {?>	
				<img src="<?php $this->printImageSrc('tick.png'); ?>" height="18" style="float:right;" title="Wijzigen en verwijderen is niet mogelijk als de persoon aanwezig is gemeld."/>
			<?php } ?>				
			<div style="clear:both;">
				<?php foreach($weekTime['timeSlots'] as $row) {  ?>  
					  <?php
						$nextTime = intval($row->timeId);
						$doSelect = $nextTime  == $prevTimeId ;
						$selected = $doSelect  ? " checked" : "";
						$disabled = ($nextTime  != $prevTimeId) && ($row->full || $weekTime['showed_up']) ? "disabled=\"disabled\"" : "";
						$txtColor = $row->full ? "color:red;" : "color:green;";
						if ($nextTime  != $prevTimeId && $row->full) {
							$txtColor = "color:red;";
						} else if ($nextTime  != $prevTimeId  && $weekTime['showed_up']) {
							$txtColor = "color:darkgrey;";
						}
						$currentSelected = 	$doSelect ? "font-weight:bold;"  : "";	
						
						$isPreferred = !$row->isFeestDag && intval($row->timeId) == $prefTime;
						$extraStyle  = $isPreferred ? "background-color:yellow;cursor:pointer;" : ""; 
					  ?>	
					    <?php
							if ($weekTime['day_number'] != 1  || ($weekTime['day_number'] == 1 && $row->startTime != "18:00"   && $prefStartTime !==  "18:00")  )  {
								insertLabelInfo($isPreferred, $prefTime, $txtColor, $currentSelected, $extraStyle, $weekTime,  $row, $selected, $disabled);					
							} elseif($weekTime['day_number'] == 1 && $row->startTime == "18:00"  && $isPreferred && $prefStartTime ==  "18:00") {  ?>
								<label style="float:left; width:550px;"  >&nbsp;</label>							
								<?php							
								insertLabelInfo($isPreferred, $prefTime, $txtColor, $currentSelected, $extraStyle, $weekTime,  $row, $selected, $disabled);
							} 
						?>										
				<?php } ?>			
			</div>
		</div>
	 
			

	<?php } ?>
	</div>	
	
</form>


