<form name="clientCards" style="display:block;overflow:hidden;"  onsubmit="return false">
   <label style="float:left;margin-right:5px;">
     <select name="location">
        <?php foreach($locations as $location) {
			$selected = intval($location['ukgr_code']) == intval($lastUkgrCode) ? ' SELECTED'  : ''; ?>
			<option value="<?php echo($location['ukgr_code']);  ?>" <?php echo($selected);  ?>  data-capacity="<?php echo($location['capacity']);  ?>">
			<?php echo($location['ukgr_code']);  ?>: <?php echo($location['city']);  ?>, &nbsp; <?php echo($location['address']);  ?></option>
			
		<?php } ?>	
     </select>
  </label>

</form>
<div id="clientInfo" style="clear:both;margin-top :10px;">

</div>


<script>
	var startPage = <?php echo($startAtPage);   ?>;
	function initializeMembers(page){
		var ukgrCode = $(document.forms['clientCards'].elements['location']).val();
		$.get("<?php echo($this->printAction('visitorPage')); ?>", {
			ukgr_code   : ukgrCode,
			nexPage     : page
		  },
		  function(data, status){
			 $("#clientInfo").html(data);  	
		  });	 
	}
	
	$(document).ready(function(){			
		$(document.forms['clientCards'].elements['location']).on('change', function() {
			initializeMembers(1);
		});
		initializeMembers(startPage);		
	});		
		
	
</script>
