<style>
	h1.banner {
		text-align: center;
		background-color: linen;
		margin-top : 0;
		padding: 3px;
		border : 2px groove white;		
		margin-bottom:0;
	}



	label.dayPrefItem {	
		color: #808080;
	}	
		
	.accentTxt {		
		color:navy;
		font-weight:bold;
	}
</style>
<?php
	$widthItem = $this->mobile  ? '65px' : '90px';
	$widthItem2 = $this->mobile  ? '110px' : '160px';
?>

<form method="post" name="prefForm"  style="display:block;overflow:hidden;">
	<?php if (isset($this->request['returnUrl'])) {	  
	   $imageBack = 'clients.png';	
	   if (strpos($this->request['returnUrl'], 'planning') !== false) {
		    $imageBack = 'calendar_today.png';	
	   }		
	?>
		<a href="<?php echo $this->request['returnUrl']; ?>"  style="float:left;margin-left:10px;margin-right:10px;margin-top:2px;" >
			<img src="<?php  $this->printImageSrc($imageBack)  ?>" height="26" />
		</a>
	<?php } ?>		
	<a href="<?php $this->printAction('show'); ?>"  style="float:right;margin-left:10px;margin-right:10px;margin-top:2px;" >
		<img src="<?php  $this->printImageSrc('stop_sign.png')  ?>"  /></a>
	   <input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;margin-top:2px;" height="26"
		src="<?php $this->printImageSrc('document_save.png'); ?>"  />
			
	<h1 class="banner">Kerkdienst voorkeur van  <?php echo($userInfo['first_name']); ?> <?php echo($userInfo['last_name']); ?></h1>
	<?php foreach ($locations as &$location) { ?>
		<div style="display:block;overflow:hidden;border:2px groove white;background:linen;clear:left;">
			<div style="float:right;margin:3px;"> <?php echo($location['capacity']);?> </div>
			<div style="float:left;margin:3px;"><?php echo($location['city']);?>, <?php echo($location['address']);?> </div>		
		</div>
	<?php } ?>	
	
	<input type="hidden"  name="updateRequired"	value="YES"  />
	<div style="display:block;overflow:hidden;margin-top:10px;">
		<img src="<?php $this->printIdImage($userInfo);  ?>" width="150" style="float:right;"/>
		<?php foreach ($prefs['data'] as $prefItem) { 
			$times = explode(",", $prefItem->times);			
			$showtime = explode(",", $prefItem->showtime);
			$prefered = explode(",", $prefItem->prefered); 
			$dayNumber = $prefItem->dayNumber;
			$dateCombined = array();
			foreach($times as $index=>$aTime) {
				$dateCombined[$aTime] =  array(
					'showTime'=>$showtime[$index], 
					'checked'=> ($prefered[$index] ? 'checked="CHECKED"' : '')
				);
			}

			?>
			<div class="dayPrefItems" style="float:left;width:<?php echo($widthItem); ?>;margin-right:10px;height:auto;overflow:hidden;white-space:nowrap;">
			<h2 style="float:left;margin-top:0px;margin-right:10px;"><?php     echo $prefItem->shortName; ?>	 </h2>
			</a>
			
				<?php foreach($dateCombined  as $time_id=>$values){ ?>
				  <label style="display:block;clear:both;cursor:pointer;">
					  <span  style="float:left;margin-top:4px;" ><?php echo($values['showTime']); ?></span>
					  <input type="checkbox" style="float:left;margin-top:4px;visibility:hidden;" value="<?php  echo($time_id); ?>" 
							name="prefered[<?php echo $prefItem->dayNumber; ?>][<?php echo $time_id; ?>]"  <?php echo $values['checked']; ?> 
							data-daynumber = "<?php echo($dayNumber); ?>"							
								data-timeid = "<?php echo($time_id); ?>" 
								data-showtime = "<?php echo($values['showTime']); ?>" 
								onclick="handleThisRadiobutton(this);"
							
							
							
							 />
					  
				  </label>				
				<?php }?>	
				<label style="display:block;clear:both;">&nbsp;</label>				
			</div>						
		<?php }?>	
	</div>	
</form>

<script>
	function handleThisRadiobutton(domItem){	
		var prevState = domItem.getAttribute('data-prevstate');
		if (prevState != null && prevState == "ON") {
			domItem.checked = false;
		}					
		var jqthis = $(domItem);
		
		var dayNumber = parseInt(jqthis.attr('data-daynumber'));
		var showtime  = jqthis.attr('data-showtime');
		if ((dayNumber != 1 ||  showtime != "18:00") && domItem.checked) {
			var upperParent = jqthis.parents('div.dayPrefItems').eq(0);
			upperParent.find('input[type=checkbox]').each(function(index){	
				var showtimeOther  = $(this).attr('data-showtime');

				if ($(this).is(':checked')) {	
					var domItemOther =  	$(this).eq(0).get(0);					
					if (domItemOther.getAttribute('data-showtime') != domItem.getAttribute('data-showtime')) {
						if ((dayNumber == 1 && showtimeOther != "18:00") || (dayNumber != 1)){
							domItemOther.checked = false;
							updateStateRadio(domItemOther);
							
						}
					}
					
				}							
			
			});	
		}
		updateStateRadio(domItem);
	}
	
	
	
	function updateStateRadio(domItem){
		var jqthis = $(domItem);
		
		if (jqthis.is(':checked')) {		
			jqthis.parent().find('span').addClass('accentTxt');
			jqthis.attr('data-prevstate', 'ON');
			
		} else {
			jqthis.parent().find('span').removeClass('accentTxt');
			jqthis.attr('data-prevstate', 'OFF');
		}	
	}
	
	$(document).ready(function(){	
		$('input[type=checkbox]').each(function(index){				
			if ($(this).is(':checked')) {	
				var domItem =  	$(this).eq(0).get(0);
				updateStateRadio(domItem);	
			}			
		});		
	});	
		
</script>

