<style>
	h1.banner {
		text-align: center;
		background-color: linen;
		margin-top : 0;
		padding: 3px;
		border : 2px groove white;		
		margin-bottom:0;
	}


	table.edit {
		border-collapse: collapse;
		margin-left: 0px;
		margin-right:20px;
	}

		
	table.edit tr th {
		text-align : left;
	}

	table.edit tr {
		height: 25px;
	}

	table.edit tr:nth-child(even)  {
		background-color: linen;
	}

	table.edit tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
</style>
<form method="post"  enctype="multipart/form-data" name="regForm">
<a href="<?php $this->printAction('show'); ?>"  style="float:right;margin-left:10px;margin-right:10px;margin-top:2px;" >
	<img src="<?php  $this->printImageSrc('stop_sign.png')  ?>"  /></a>
   <input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;margin-top:2px;" height="26"
    src="<?php $this->printImageSrc('document_save.png'); ?>"  />
    	
<h1 class="banner"><?php echo($userInfo['first_name']); ?> <?php echo($userInfo['last_name']); ?></h1>
<div id="mijnUkgrData"  style="clear:both;display:block;overflow:hidden;">
   <img src="<?php $this->printIdImage($userInfo);  ?>"   style="float:right;width:150px;"/>
		
	<table class="edit" >
		<tr>
			<td style="width:90px;">Voornaam</td>
			<td colspan="2"><input type="text"  name="first_name"  value="<?php echo($userInfo['first_name']); ?>" required /></td>
		</tr>
		<tr>
			<td>Achternaam</td>
			<td colspan="2"><input type="text"  name="last_name"  value="<?php echo($userInfo['last_name']); ?>" required /></td>
		</tr>	
		<tr>
			<td>Geslacht</td>
			<td colspan="2"    >
			<?php
				$this->addRadioGroupList(
					array(
						0 => array('value'=>'M', 'title'=>'Man', 'class'=>'male'),
						1 => array('value'=>'F', 'title'=>'Vrouw', 'class'=>'female')
					), 
					"gender", $userInfo['gender'], "gender");
			?>			 
			</td>
		</tr>
		<tr>
			<td>Status</td>
			<td colspan="2"    >
			<?php
				$this->addRadioGroupList(
					array(
						0 => array('value'=>'TRUE', 'title'=>'Actief lid'),
						1 => array('value'=>'FALSE', 'title'=>'Geen lid')
					), 
					"activated", $userInfo['activated'] ? 'TRUE' : 'FALSE', 'basic');
			?>			 
			</td>
		</tr>				
		<tr>
			<td colspan="3">Voorkeurslocatie</td>
		</tr>
		<tr>
		
			<td colspan="3">
			 <select name="ukgr_code">
				<?php foreach($locations as $location) {
					$selected = intval($location['ukgr_code']) == intval($userInfo['ukgr_code']) ? ' SELECTED'  : ''; ?>
					<option value="<?php echo($location['ukgr_code']);  ?>" <?php echo($selected);  ?>>
					<?php echo($location['ukgr_code']);  ?>: <?php echo($location['city']);  ?>, &nbsp; <?php echo($location['address']);  ?></option>
					
				<?php } ?>	
			 </select>				
			
			</td>
		</tr>		  		   
		<tr>
			<td title="4 cijfers (niet met 0 beginnend) en  daarna 2 letters">Postcode</td>
			<td style="width:90px;">Huisnummer </td><td>Toevoeging</td>
		</tr>	
		<tr>
			<td >
				<input type="text"  name="zipcode"  value="<?php echo($userInfo['zipcode']); ?>" 
				required size="6"   pattern="[1-9][0-9]{3}[a-zA-Z]{2}"
					placeholder="1000AX" title="4 cijfers (niet met 0 beginnend) en  daarna 2 letters"
				style="text-transform: uppercase;" />
			</td>	
			<td>
				<input type="number"  name="house_number"  value="<?php echo($userInfo['house_number']); ?>" size="4" pattern="^[\+,0-9]{1,6}$" 
					onkeypress="return IsNumericNUMBER(event);"required style="width:100px;" />
			</td>
			<td>	
				<input type="text"  name="extra_address"  value="<?php echo($userInfo['extra_address']); ?>" size="4"  />
			</td>
		</tr>	
		<tr>
			<td>Straat</td>
			<td colspan="2"><input type="text"  name="street"  value="<?php echo($userInfo['street']); ?>" required /></td>
		</tr>
		<tr>
			<td>Stad</td>
			<td colspan="2"><input type="text"  name="city"  value="<?php echo($userInfo['city']); ?>" required /></td>
		</tr>			   			   	   
		<tr>
			<td>eMail</td>
			<td colspan="2"><input type="text"  name="email"  value="<?php echo($userInfo['email']); ?>" required /></td>
		</tr>
		<tr>
		<td>
			<label for="telefoonnummer">Telefoon</label>
		</td>
			<td colspan="2">
				<input  type="tel" name="gsm" pattern="^[\+,0-9]{10,12}$" 
					 onkeypress="return IsGSMNumeric(event);"	placeholder="10 tot 12 cijfers"
					  title="U mag minimaal 10 tot maximaal 12 cijfers (GEEN Letters) invoeren."
					  required="required" 
					value="<?php echo($userInfo['gsm']); ?>" size="12">
			</td>
		</tr>				   
		<tr>
			<td>Geboren
				<?php
					$serviceDate = $userInfo['birth_date'];
					$timeToUse   = '12:30';
					$dateSrc  = $serviceDate ." $timeToUse CET";
					$dateTime = new DateTime($dateSrc, new DateTimeZone('Europe/Amsterdam')); 				
					$DateDisplay = date_format($dateTime, 'd-m-Y');						      
				?>
			</td>
			<td colspan="2">
				<input type="text"  name="birth_date"  value="<?php echo($DateDisplay); ?>"
				 required  size="20" onblur="updateOtherValue(this.value)" />  <!-- readonly -->
				<input type="hidden"  name="useDate"  value="" />
			</td>
		</tr>
		<tr>
			<td>Overleden
				<?php
				    $DateDisplay  = '';
				    $DateValue = '';
					$serviceGoneDate = $userInfo['overleden'];
					if ($serviceGoneDate != null) {
						$DateValue = $serviceGoneDate ;
						$timeToUse   = '12:30';
						$dateSrc  = $serviceGoneDate ." $timeToUse CET";
						$dateTime = new DateTime($dateSrc, new DateTimeZone('Europe/Amsterdam')); 				
						$DateDisplay = date_format($dateTime, 'd-m-Y');		
					}
									      
				?>
			</td>
			<td colspan="2">
				<input type="text"  name="overledenSelect"  value="<?php echo($DateDisplay); ?>"
				 placeholder="bij overlijden invullen" size="20" />  
				 <input type="hidden"  name="overleden"   />
			</td>
		</tr>		
		<tr >
			<td colspan="3"  style="text-align:left;">Als u het wachtwoord niet wilt wijzigen, dient u deze leeg te laten. </td>
		</tr>	
		<tr>
			<td rowspan="2">Wachtwoord</td>
			<td colspan="2">
				<input type="password"  name="password1"  pattern=".{8,12}" value="" 
								placeholder="8 - 12 karakters"
								size="12" title="8 tot 12 karakters vereist"/>
			</td>
		</tr>	
		<tr>		
		<td colspan="2">
			<input type="password"  name="password2"  pattern=".{8,12}" value="" 
				placeholder="8 - 12 karakters"
				size="12" title="8 tot 12 karakters vereist"/> (Herhaling)
		</td>
		</tr>	
		<tr style="background:white;">			  
			<td colspan="3">Uw foto wijzigen: </td>
		</tr>		   
		<tr style="background:white;">			  
			<td colspan="3">
				<input type="file" id="custom-file-input" name="picture" value=""  accept="image/*" /> 
			</td>
		<tr>      
			<td colspan="3" align="center" style="color:red;"><?php echo($this->errorMessage); ?>&nbsp;</td>
		</tr> 
		<tr>
		  <td colspan="3">
			<?php 
				$phpdate = strtotime( $userInfo['datatime_active']);
		
				$phpDate = strftime('%A %d %B %Y', $phpdate);
				$phpTime = strftime('%H:%M',  $phpdate );
			?> 
			Toestemming verleend voor het gebruik van gegevens op <?php echo($phpDate); ?> om <?php echo($phpTime); ?>.
		  </td>
		</tr>
	</table>
	<?php $PrevActivation = $userInfo['activated'] ? 'TRUE' : 'FALSE'; ?>
	<input type="hidden"  name="activated_before" value="<?php echo $PrevActivation; ?>"   />
</div>
</form>
<script>
	function initializeTimes(){
		var dateObject = $("form[name='regForm'] :input[name='birth_date']").datepicker("getDate");
		var dateString = $.datepicker.formatDate("yy-mm-dd", dateObject);		
		$("form[name='regForm'] :input[name='useDate']").attr('value', dateString);
    }    
    
    function initializeDeathTimes(){
		var datumIngevuld = $("form[name='regForm'] :input[name='overledenSelect']").val();
		if (datumIngevuld) {
			var dateObject = $("form[name='regForm'] :input[name='overledenSelect']").datepicker("getDate");
			var dateString = $.datepicker.formatDate("yy-mm-dd", dateObject);		
			$("form[name='regForm'] :input[name='overleden']").attr('value', dateString);			
		} else {
			$("form[name='regForm'] :input[name='overleden']").removeAttr('value');	
		}
    }  
	
	$(document).ready(function(){	
		$.datepicker.setDefaults($.datepicker.regional['nl']);
		var today = new Date();
		today.setDate(1);
		today.setYear(new Date().getFullYear() -20);
		
			
 		var formatted = $.datepicker.formatDate("dd-mm-yy", today);
		$(document.forms[''] ).attr('value', formatted);
 		$( "form[name='regForm'] :input[name='birth_date']" ).datepicker({ 
			dateFormat : 'dd-mm-yy' ,
			changeMonth: true,
			changeYear: true,
			yearRange: "-100:-10",
			defaultDate : today,
			onSelect: function(dateText) {		
				initializeTimes();
			}
		
		});	
		
		$( "form[name='regForm'] :input[name='overledenSelect']" ).datepicker({ 
			dateFormat : 'dd-mm-yy' ,
			changeMonth: true,
			changeYear: true,
			yearRange: "-20:+0",
			defaultDate : null,
			onSelect: function(dateText) {		
				initializeDeathTimes();
			}
		
		});	
		
		
		
		//start BELANGRIJK
		initializeTimes();
		initializeDeathTimes();
		
		$( "form[name='regForm'] :input[name='birth_date']" ).blur(function() {
		  initializeTimes();
		});
		
		$( "form[name='regForm'] :input[name='overledenSelect']" ).blur(function() {
		  initializeDeathTimes();
		});
				
								
	});		
	
</script>
