<style>
	div.picture {
		float    :left;
		height : 80px;
		width  : 60px; 
		background-position : top left;   
		background-size : contain; 
		background-repeat : no-repeat;		
		margin-right: 5px;			
	}
	
	div.personText {
		display:block;
		overflow:hidden;
		font-size: 10pt;

		color: navy;
		text-alig:center;
	}
	
	div.personCard {
		width: 290px;
		background-color:lightgoldenrodyellow;
		float:left;
		border:2px groove white;
		margin-right:3px;
		margin-bottom: 10px;
		overflow:hidden;
		min-height: 95px;
	}
	
	div.personCard.none {		
		background-color:silver;

	}
	
	div.personCard h4 {
		text-align:center;
		margin:0;
		display:block;
		background-color:lightblue;
		color:black;
		padding:2px;
	}
	
	div.personCard.none h4 {
		text-align:center;
		margin:0;
		display:block;
		background-color:gray;
		color:silver;
		padding:2px;
	}

	label.selected {
		float:left;
		width:40px;
		height:20px;
		margin-right:5px;
		margin-bottom:5px;
		font-weight: bold;
		border : 2px groove white;
		background: ivory;
		color : navy;
	}	

	a.filterLetter {
		float:left;
		width:40px;
		height:20px;
		margin-bottom:5px;
		margin-right:5px;
		background: #DDDDEE;
		border : 2px groove white;
		cursor : pointer;
	}


	a.filterLetter label {
		cursor : pointer; 	 
	}

	label.showAll {
        float:left;
		cursor : pointer;  
		width:138px;
		height:20px;
		margin-bottom:5px;
		background: #DDDDEE;
		border : 2px groove white;
	}

	label.showAllSelected {
		float:left;
		width:138px;
		height:20px;
		background: ivory;
		color : navy;
		margin-bottom:5px;
		font-weight: bold;
		border : 2px groove white;
	}	
</style>
<?php if (count($visitors) > 0)  {   ?>
<div style="text-align:center;font-size:11pt;margin-bottom:10px;">	
	<?php
	$urlAll = $this->getActionURL('showPref','?startWith');
	$classAll = strlen($lastStartWith) == 0 ? " selected"  : "" ;
	foreach ($letters as $letter) {
		$char = $letter['letter'];
		$urlNew = $this->getActionURL('showPref','?startWith='.$char);
		if ($char === $lastStartWith) { ?>	
			<label class="selected"><?php echo $char ; ?></label>
		<?php } else {?>
			<a class="filterLetter" href="<?php echo $urlNew ; ?>"><label><?php echo $char ; ?></label></a>
			
		<?php }	
	}
	?>	
    <?php if (strlen($lastStartWith) == 0)  {  ?>
		<label class="showAllSelected">Toon Alles</label>
		
	<?php } else { ?> 	
	<a  style="float:left;" href="<?php echo $urlAll ; ?>"><label class="showAll<?php echo $classAll; ?>">Toon Alles</label></a>	
	<?php }?> 	
</div>
<br style="clear:both;"/>
<?php } ?>

<?php  foreach($visitors as $visitor)  {
  $activated = intval($visitor['activated']) == 1	;
  $classPerson = $activated ? "personCard" : "personCard none";
?>
<div class="<?php echo $classPerson; ?>">
	<?php if ($activated) { ?>
	<a href="<?php  echo $this->getNextAction('times', '/'.$visitor['id']); ?>" style="float:left;margin-left:2px;margin-top:1px;">
					<img src="<?php $this->printImageSrc('calendar_select_week.png'); ?>"   width="16px"  title="Voorkeur tijden aanpassen"/></a>
	<?php } ?>
	<a href="<?php  echo $this->getNextAction('update', '/'.$visitor['id']); ?>" style="float:right;margin-right:2px;margin-top:1px;">
					<img src="<?php $this->printImageSrc('user_blue_edit.png'); ?>"   width="18px"  title="Bezoeker gegevens aanpassen"/></a>
					
	<h4 >
		<?php echo($visitor['first_name']); ?> <?php echo($visitor['last_name']); ?>
	</h4>
	
	<div class="picture" <?php if ($activated) echo(" id=\"Picture".$visitor['id']."\" "); ?> style="clear:both;background-image:url(<?php $this->printIdImageDummy();  ?>);">	&nbsp;	</div>	
	<div class="personText">
		<?php if ($activated) { ?>
		<span><?php echo($visitor['street']); ?> <?php echo($visitor['house_number']); ?><?php echo($visitor['extra_address']); ?></span><br/>
		<span style="color:maroon;"><?php echo($visitor['zipcode']); ?> <?php echo($visitor['city']); ?></span><br/>	
		<span><?php echo($visitor['gsm']); ?></span><br/>	
        <?php } else {  ?>	
			<span style="color:black;">Niet actief</span><br/>	
		<?php }   ?>			
	</div>
	<?php if ($activated) { ?>
	<a href="<?php  echo $this->getNextAction('planning', '/'.$visitor['id']); ?>" style="float:right;margin-right:2px;margin-top:13px;">
					<img src="<?php $this->printImageSrc('calendar_view_week.png'); ?>"   width="16"  title="Agenda"/></a>	
    <?php } else {  ?>		
		<div style="float:right;margin-right:2px;margin-top:4px;">&nbsp;</div>
	<?php }   ?>						
</div>

<?php } ?>
<hr style="clear:both;"/>
<div style="clear:both;text-align:center;">
	<?php for ($x = 1; $x <= $pages; $x++) {  ?>
		<?php if ($x == $currentPage) {  ?>
			<strong><?php echo $x; ?></strong>
		<?php } else { ?>
			<a href="javascript:void(0);"  onClick="initializeMembers(<?php echo $x; ?>);"><?php echo $x; ?> </a>
		<?php } ?>	
		
		 &nbsp;
		
	<?php } ?>
</div>



<script>
	var pictureURL = new Array();
	var pointer = 1;
	var pictureTimer = null;
	
	function pictureUpdateData(id){
		this.id = id;
		this.searchID = "Picture"+id;
	}
    <?php  foreach($visitors as $visitor)  { ?>
		<?php if ($visitor['picture']  != null && $visitor['extension'] != null)  {	?>
		pictureURL[pictureURL.length] = new pictureUpdateData(<?php echo($visitor['id']); ?>);
		<?php echo("\n"); ?>
		<?php } ?>
	<?php } ?>
	
	
	function fetchTimedPicturesCards() {
		//spiek at /admin/bezoekers/statsTimed
		if (pointer <= pictureURL.length) {			
			var myPict = pictureURL[pointer-1]; 
			pointer++;
			$.getJSON("<?php $this->printAction('clientFetchImageByPersonId'); ?>",
			    {personId : myPict.id, searchID: myPict.searchID }, 
				function(data){
					if (data.data != null) {
						$('#'+data.searchID).css('background-image','url('+ data.data + ')');
					}
					
				}			
			).fail(function() {         
					// just in case posting your form failed
					//alert( "GET failed." );					 
				});	
		} else {
			if (pictureTimer != null) {
				window.clearInterval(pictureTimer);
			}				
		}
	}	
	
	$(document).ready(function(){			
		pictureTimer = window. setInterval(function() {
			fetchTimedPicturesCards();
		}, 100);		
	});		
</script>
