
<form name="dagFeestSelect" style="display:block;overflow:hidden;"  method="post"  action="<?php $this->printAction('saveAdd'); ?>">
  <input type="hidden"  name="useDate"  value="<?php echo $feestdagEvent; ?>" />
  <label style="float:left;margin-right:5px;">
	  Datum: 
     <input type="text" id="datepicker"  name="datepicker" value="<?php echo $lastDisplayDateFeest; ?>"  size="10"/>
  </label>  
  
 <label style="float:left;margin-right:5px;">
	  Beschrijving: 
     <input type="text"   name="beschrijving" value=""  size="25"/>
  </label>    
  <input type="submit"  value="Opslaan"  />   
  <input type="button"  value="Annuleren"  onclick="location.href='<?php $this->printAction('show'); ?>'"  />   
</form>





<script>
	function initializeTimes(){
		var dateObject = $("#datepicker").datepicker("getDate");
		var dateString = $.datepicker.formatDate("yy-mm-dd", dateObject);				
		$("form[name='dagFeestSelect'] :input[name='useDate']").attr('value', dateString);
	}
		
	$(document).ready(function(){	
	
		$.datepicker.setDefaults($.datepicker.regional['nl']);
		$( "#datepicker" ).attr('value', "<?php echo($lastDisplayDateFeest); ?>");
 		$( "#datepicker" ).datepicker({ 
			dateFormat : 'dd-mm-yy' ,
			onSelect: function(dateText) {		
				initializeTimes();
			}		
		});	

		$("form[name='dagFeestSelect'] :input[name='datepicker']").blur();


			
			
		
	});	

</script>
