<?php
  $checkedForActive = $editItem['active'] ? "CHECKED"  : ""; 
?>
<form name="dagFeestSelect" style="display:block;overflow:hidden;"  method="post"  action="<?php $this->printAction('saveEdit'); ?>">
  <input type="hidden"  name="datum"  value="<?php echo $editItem['datum']; ?>" />
   <input type="hidden"  name="id"  value="<?php echo $editItem['id']; ?>" />
  <label style="float:left;margin-right:5px;">
	  Datum: 
     <input type="text" id="datepicker"  name="datepicker" value="<?php echo $lastDisplayDateFeest; ?>"  size="10"/>
  </label>  
  
 <label style="float:left;margin-right:5px;">
	  Beschrijving: 
     <input type="text"   name="beschrijving" value="<?php echo($editItem['beschrijving']); ?>"  size="25"/>
  </label>    
  <label style="float:left;margin-right:5px;">
	  Active: 
     <input type="checkbox"   name="active" value="1"  <?php echo $checkedForActive; ?>/>
  </label> 
  <input type="submit"  value="Opslaan"  />
  <input type="button"  value="Annuleren"  onclick="location.href='<?php $this->printAction('show'); ?>'"  />   
</form>

<script>
	function initializeTimes(){
		var dateObject = $("#datepicker").datepicker("getDate");
		var dateString = $.datepicker.formatDate("yy-mm-dd", dateObject);			
		$("form[name='dagFeestSelect'] :input[name='datum']").attr('value', dateString);
	}
		
	$(document).ready(function(){		
		$.datepicker.setDefaults($.datepicker.regional['nl']);
		$( "#datepicker" ).attr('value', "<?php echo($lastDisplayDateFeest); ?>");
 		$( "#datepicker" ).datepicker({ 
			dateFormat : 'dd-mm-yy' ,
			changeMonth: true,
			changeYear: true,
			yearRange: "-1:+1",			
			onSelect: function(dateText) {		
				initializeTimes();
			}		
		});	
		$("form[name='dagFeestSelect'] :input[name='datepicker']").blur();		
	});	

</script>
