<style>
    table.display {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
	}
	
	 table.display thead {
		 background-color: lavender;
		 border-bottom : 2px groove white;

	}
	
	table.display thead tr th {
		 text-align:left;
		 padding-left : 3px;

	}
	
	table.display tbody tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.display tr td {
		 padding-left : 2px;
	}
	
	
	table.display tbody tr:hover  {
		/* background-color: midnightblue; 
		cursor: pointer;
		 color : yellow;  */
	}

</style>
<table class="display" style="width:100%">
	<thead>
		<tr>
			<th>Ukgr Code</th>			
			<th>Adres</th>
			<th>Capaciteit</th>
	        <th>			
				<a href="<?php $this->printAction('show'); ?>">  
				 <img src="<?php $this->printImageSrc('stop_sign.png');  ?>"  />
				</a> </th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($locations as &$location) { ?>
	<tr class="data" data-rowid="<?php  echo($location['id']); ?>" >
		<td><?php echo($location['ukgr_code']);?></td>
		<td><?php echo($location['city']);?>, <?php echo($location['address']);?></td>		
		<td><?php echo($location['capacity']);?></td>
		<td>
			<a href="<?php $this->printAction('church',$feestdagID.'/'.$location['ukgr_code']); ?>">  
			 <img src="<?php $this->printImageSrc('church2.png');  ?>"  />
			</a>
		</td>
	</tr>	
	<?php } ?>
	</tbody>
</table>

