<style>

    table.display {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
	}
	
	 table.display thead {
		 background-color: lavender;
		 border-bottom : 2px groove white;

	}
	
	table.display thead tr th {
		 text-align:left;
		 padding-left : 3px;

	}
	
	table.display tbody tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.display tr td {
		 padding-left : 2px;
	}
	
	
	table.display tbody tr:hover  {
		/* background-color: midnightblue; 
		cursor: pointer;
		 color : yellow;  */
	}

</style>

<table class="display" >
	<thead>
		<tr>
			<th style="width:150px;">Datum</th>			
			<th style="width:250px;">Omschrijving</th>
			<th style="width:50px;">Actief</th>
        	<th>
				<a href="<?php $this->printAction('add'); ?>">  
			    <img src="<?php $this->printImageSrc('newcopy30.png');  ?>"  />
			</a>
			</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($this->data['altDays'] as &$altDay) { ?>
	<tr class="data" > <?php
	    	$timeToUse   = "12:00";
			$dateSrc  = $altDay['datum']." $timeToUse CET";
			$dateTime = new DateTime($dateSrc, new DateTimeZone('Europe/Amsterdam')); 				
			$itemDate = date_format($dateTime, 'd-m-Y');	
			$actief = $altDay['active'] ? "JA"  : "NEE";		    
	    ?>
		<td><?php echo($itemDate);?></td>
		<td><?php echo($altDay['beschrijving']);?></td>
		<td><?php echo($actief);?></td>
		<td>
			<a href="<?php $this->printAction('edit',$altDay['id']); ?>">  
			 <img src="<?php $this->printImageSrc('edit.png');  ?>"  />
			</a>
	
		</td>
	</tr>	
	<?php } ?>
	</tbody>
</table>

