<blockquote><?php echo($verzen['A']['data'] ); ?></blockquote> 
<center>
	<img src="<?php $this->printImageSrc('holy-spirit-dove-symbol-38.gif');  ?>" width="50px" align="center"/>
</center>
<blockquote><?php echo($verzen['B']['data'] ); ?></blockquote> 
<div id="accordion" class="accordion">
	<h3 data-url="<?php echo($this->globals['bible']); ?>">Holy Bible / Bíblia Sagrada</h3>
	<div class="containerDrop">Loading...</div>		
	<h3 data-url="<?php echo($this->getNextAction('mijnDataContainer')); ?>">Mijn Gegevens</h3>
	<div class="containerDrop">Loading...</div>		
	<h3 data-url="<?php echo($this->getNextAction('activeContent','/CONTEMPLATIE')); ?>">Contemplatie</h3>
	<div class="containerDrop">Loading...</div>		
</div>	
<blockquote><?php echo($verzen['C']['data'] ); ?></blockquote> 

<script>

$(document).ready(function(){
	  $( function() {
			$( "#accordion" ).accordion({
				active: false,
				heightStyle: "content",
				collapsible: true,
				beforeActivate: function (e, ui) {
					if ($(ui.newHeader[0]) != null) {
						$url = $(ui.newHeader[0]).attr('data-url');
						$(ui.newHeader[0]).next().css({"background" : "snow", "overflow"  : "hidden", "border": "2px groove white", "font-size": "10pt"});
						$.get($url, function (data) {
							$(ui.newHeader[0]).next().html(data);
						});
					}
					if ($(ui.oldHeader[0]) != null) {
						$(ui.oldHeader[0]).next().html("Even geduld... ");
					}
				},
			});
	  });
});

$(window).on('resize', function() {		
	return false;
});
</script>
