<style>
	div.picture {
		float    :left;
		height : 80px;
		width  : 60px; 
		background-position : top left;   
		background-size : contain; 
		background-repeat : no-repeat;		
		margin-right: 5px;		
		background-image:url(<?php $this->printIdImageDummy();  ?>);	
	}


	div.personCard {
		position: relative;
		width: 290px;
		background-color:PapayaWhip;
		float:left;
		border:2px groove white;
		margin-right:3px;
		margin-bottom: 10px;
		overflow:hidden;
		min-height: 95px;
		color: maroon;
	}	
	
	div.personCard h4 {
		text-align:center;
		margin:0;
		display:block;
		background-color:lightblue;
		color:black;
		padding:2px;
	}
	
	div.dataperson {
		font-size : 9pt;
	}
	
	div.datuminfo {
		font-size : 9pt;
		font-weight:bold;
		color : red;
		
	} 
</style>	
	
<?php foreach($noshow as $person)  { 
		$dateSrc  = $person['last_visit'].' 12:00 CET';
		$dateTime = new DateTime($dateSrc, new DateTimeZone('Europe/Amsterdam')); 				
		$itemDate = date_format($dateTime, 'd F Y');	
		$dayName = strftime ( '%A', $dateTime->getTimestamp());
		$lastVisitDate = "$dayName $itemDate ";
	
?><div class="personCard">	
	<h4 >
		<?php echo($person['first_name']); ?> <?php echo($person['last_name']); ?>
	</h4>
	<div class="picture"  <?php echo(" id=\"Picture".$person['member_id']."\" "); ?> >&nbsp;   </div>
	<div class="dataperson">		
		<?php echo($person['street']); ?> <?php echo($person['house_number']); ?> <?php echo($person['extra_address']); ?> <br />
		<?php echo($person['zipcode']); ?> <?php echo($person['city']); ?><br />
		<?php echo($person['gsm']); ?> <br />
		<?php echo($person['email']); ?> 
	</div>
	<div class="datuminfo" title="Het kan ook langer geleden zijn dat deze persoon niet meer op bezoek is geweest.">
      	Gezien op <?php echo($lastVisitDate); ?>
	
	</div>
</div>
<?php } ?>



<script>
	var pictureURL = new Array();
	var pointer = 1;
	var pictureTimer = null;
	
	function pictureUpdateData(id){
		this.id = id;
		this.searchID = "Picture"+id;
	}
	
    <?php  foreach($noshow as $visitor)  { ?>		
		pictureURL[pictureURL.length] = new pictureUpdateData(<?php echo($visitor['member_id']); ?>);
		<?php echo("\n"); ?>
	<?php } ?>
	
	
	function fetchTimedPicturesCards() {
		if (pointer <= pictureURL.length) {			
			var myPict = pictureURL[pointer-1]; 
			pointer++;


			$.getJSON("<?php $this->printAction('clientFetchImageByPersonId'); ?>",
			    {personId : myPict.id, searchID: myPict.searchID }, 
				function(data){
					if (data.data != null) {
						$('#'+data.searchID).css('background-image','url('+ data.data + ')');
					}
					
				}			
			).fail(function() {         
					// just in case posting your form failed
					alert( "GET failed." );					 
				});	

		} else {
			if (pictureTimer != null) {
				window.clearInterval(pictureTimer);
			}				
		}
	}	
	
	$(document).ready(function(){	

		pictureTimer = window. setInterval(function() {
			fetchTimedPicturesCards();
		}, 100);		
	});		
</script>
