<form name="locationNoShows" style="display:block;overflow:hidden;"  onsubmit="return false">
   <label style="float:left;margin-right:5px;">
     <select name="location">
        <?php foreach($locations as $location) {
			$selected = intval($location['ukgr_code']) == intval($lastUkgrCode) ? ' SELECTED'  : ''; ?>
			<option value="<?php echo($location['ukgr_code']);  ?>" <?php echo($selected);  ?>  data-capacity="<?php echo($location['capacity']);  ?>">
			<?php echo($location['ukgr_code']);  ?>: <?php echo($location['city']);  ?>, &nbsp; <?php echo($location['address']);  ?></option>
			
		<?php } ?>	
     </select>
  </label>
 
</form>
<br />
<div id="noshowdata">

</div>
<script>

	function initializeAbsentie(){
		var ukgrCode = $(document.forms['locationNoShows'].elements['location']).val();
		
		$.get("<?php echo($this->printAction('absent')); ?>", {
			ukgr_code     : ukgrCode
		  },
		  function(data, status){
			 $("#noshowdata").html(data);  	
		  });	 
	  
	}
	
	$(document).ready(function(){			
		
		$(document.forms['locationNoShows'].elements['location']).on('change', function() {
			initializeAbsentie();
		});
		initializeAbsentie();	
	});	
	
	
	
</script>
