<select name="next_event"  class="dates">
	<?php foreach($dates['data'] as $aData) {
		$selected = $aData->nextEvent == $nextEventDate ? ' SELECTED'  : ''; 		
		$dateSrc  = $aData->nextEvent.' 12:00 CET';
		$dateTime = new DateTime($dateSrc, new DateTimeZone('Europe/Amsterdam')); 				
		$itemDate = date_format($dateTime, 'd-m-Y');	
		$lastDayName = strftime ( '%A', $dateTime->getTimestamp());
		$daynum = 1 + date("w", $dateTime->getTimestamp());		
		$showDate = "$lastDayName &nbsp; $itemDate" ;					
		?>
		<option value="<?php echo($aData->nextEvent);  ?>" <?php echo($selected);  ?>>
		<?php echo($showDate);  ?></option>		
	<?php } ?>	
</select>
<script>
	$(document).ready(function(){
		$(document.forms['planningSelect'].elements['next_event']).on('change', function() {
			initializeTimes();
		});		
		initializeTimes();	
	});		
	
</script>	
