<?php 
	$rowCounter = 0;
	$accesLevelItem = new AccesLevel('viewer');
	$hasClearence = $this->accesLevelUser->getClearance() <= $accesLevelItem->getClearance();
?>
<style>
	table.zebra {
		width:100%;
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
	
	table.zebra tbody tr.rowToColor:nth-child(5n-4) {
     	background-color: lightblue;   
	}
	
</style>
<?php  
if (intval($available) == 0) {
	echo("<h2 style=\"float:right;width:100px;text-align:right;color:purple;\">Volgeboekt</h2>	");
} else if ($available < 0) {	
	echo("<h2 style=\"float:right;width:100px;text-align:right;color:red;\">Overboeking [$available]</h2>	");	
} else {
	echo("<h2 style=\"float:right;width:150px;text-align:right;color:green;\">Beschikbaar: $available</h2>	");	
}
?>	
<h2 style="float:left;">Ingepland  voor <?php echo($current_event); ?>   </h2>	
<table class="zebra">
	<tr class="header">
		<th style="width:22px;">&nbsp;</th>
		<th>Naam</th>
		<th style="width:120px;">Telefoon</th>
		<th style="width:110px;">Code</th>
		<th style="width:60px;"><img src="<?php $this->printImageSrc('check_user.png'); ?>"  height="24px" /></th>
		
	</tr>	
	<?php foreach($bezoekers as $bezoeker) {		
		$bezoekerId = intval($bezoeker['member_id']);
		$planningHrf = null;
		$prefHrf = null;
		$accesLevelItem = new AccesLevel('pastors');		
		if ($bezoekerId > 0 && $this->accesLevelUser->getClearance() <= $accesLevelItem->getClearance()){
			$returnUrl = $this->getActionURL();
			$planningHrf = $this->getHrefServiceAction('clientCard','planning', $bezoekerId.'/?returnUrl='.$returnUrl);
			$prefHrf = $this->getHrefServiceAction('clientCard','times', $bezoekerId.'/?returnUrl='.$returnUrl);
		}
		?>
	<tr class="rowToColor">
		<td>
			<?php if ($prefHrf  != null) {  ?>
				<a href="<?php echo($prefHrf); ?>"  ><img src="<?php  $this->printImageSrc('calendar_select_week.png')  ?>"  /></a>
			<?php }  ?>		
		</td>
		<td>
			<?php if ($planningHrf  != null) {  ?>
				<a href="<?php echo($planningHrf); ?>"  ><?php echo($bezoeker['naam']); ?></a>
			<?php  } else { ?>
				<?php echo($bezoeker['naam']); ?>
			<?php }  ?>		
			
		</td>
		<td><?php echo($bezoeker['gsm']); ?></td>
		<td><?php echo($bezoeker['rescode']); ?></td>		
		<td><img src="<?php echo($this->printImageSrc('tick.png'));  ?>"  height="18" /></td>
	</tr>			
    <?php } ?>	
</table>	

<?php if (count($fromPrevVisit) > 0)  { ?>
<h2>Bezoekers  van de dienst van <?php echo($prev_event); ?></h2>		
<form name="PrevForPlanning">
<table class="zebra">
	<tr class="header">
		<th >Naam</th>
		<th style="width:120px;">Telefoon</th>
		<th style="width:110px;">Code</th>
		<th style="width:60px;"><img src="<?php $this->printImageSrc('check_user.png'); ?>"  height="24px" /></th>
	</tr>	
	<?php foreach($fromPrevVisit as $bezoeker) {	
		$bezoekerId = intval($bezoeker['member_id']);
		$planningHrf = null;
		if ($bezoekerId > 0 ) {
			$planningHrf = $this->getHrefServiceAction('clientCard','planning', $bezoekerId);
		}
		?>
	<tr class="rowToColor">
		<td>
	
			<?php echo($bezoeker['naam']); ?>
		</td>
		<td><?php echo($bezoeker['gsm']); ?></td>
		<td><?php echo($bezoeker['rescode']); ?></td>		
		<td>
		   <?php if ($hasClearence ) { ?>	
		   <a href="<?php echo($this->printAction('addFromPrev',$bezoeker['id'].'/'.$planningDate)); ?>">
				<img  src="<?php $this->printImageSrc('personAdd02.png'); ?>"   height="22" />
		   </a>
		   <?php  }  else { echo('&nbsp;');}   ?> 
		</td>
	</tr>			
    <?php } ?>	   
</table>
</form>
<?php  }  ?>	


<?php if (count($preferences) > 0) {  ?>
<h2>Geregistreerde bezoekers</h2>		
<form name="PreferencesForPlanning">
<table class="zebra">
	<tr class="header">
		<th >Naam</th>
		<th style="width:120px;">Telefoon</th>
		<th style="width:60px;"><img src="<?php $this->printImageSrc('check_user.png'); ?>"  height="24px" /></th>
		<th >Adres</th>
		<th >Voorkeur</th>
	</tr>	
	<?php foreach($preferences as $bezoeker) {	?>
	<tr class="rowToColor">
		<td><?php echo($bezoeker['first_name']); ?> <?php echo($bezoeker['last_name']); ?></td>
		<td><?php echo($bezoeker['gsm']); ?></td>
		<td>
		   <?php if ($hasClearence ) { ?>	
		   <a href="<?php echo($this->printAction('addFromVisitorPref',$bezoeker['id'].'/'.$planningDate.'/'.$bezoeker['day_number'].'/'.$planningTimeId.'/'.$bezoeker['time_id'])); ?>">
				<img  src="<?php $this->printImageSrc($bezoeker['gender'] == 'M' ? 'user_male_add.png' : 'user_female_add.png'); ?>"   height="22" />
		   </a>
		   <?php  }  else { echo('&nbsp;');}   ?> 
		</td>
		<td>
			<?php echo($bezoeker['street']); ?> <?php echo($bezoeker['house_number']); ?><?php echo($bezoeker['extra_address']); ?>, 
		    <?php echo($bezoeker['zipcode']); ?> <?php echo($bezoeker['city']); ?>
		 </td>	
		 <td><?php echo($bezoeker['start_time']); ?></td>
	</tr>			
    <?php } ?>	   
</table>
</form>	
	
<?php  }  ?>			
	







