<form name="planningSelect" style="display:block;overflow:hidden;"  onsubmit="return false">
   <label style="float:left;margin-right:5px;">
     <select name="location">
        <?php foreach($locations as $location) {
			$selected = intval($location['ukgr_code']) == intval($lastUkgrCode) ? ' SELECTED'  : ''; ?>
			<option value="<?php echo($location['ukgr_code']);  ?>" <?php echo($selected);  ?>  data-capacity="<?php echo($location['capacity']);  ?>">
			<?php echo($location['ukgr_code']);  ?>: <?php echo($location['city']);  ?>, &nbsp; <?php echo($location['address']);  ?></option>
			
		<?php } ?>	
     </select>
  </label>
  <div style="float:left;margin-right:5px;" id="DatesOfLocation">
   
  </div>   
  <div style="margin-right:5px;" id="TimeOfAvailability">
   
  </div>   
</form>
<div id="PlanningInfo" style="clear:both;margin-top :10px;">

</div>

<script>
	function fetchTimes(ukgrCode, requestDate) {
		$.get("<?php echo($this->printAction('times')); ?>", {
			ukgr_code     : ukgrCode,
			nextEventDate : requestDate
		  },
		  function(data, status){
			 $("#TimeOfAvailability").html(data);  	
		  });	 
	}
	
	function fetchPlanning(ukgrCode, requestDate, time_id) {
		var locationSelect = $(document.forms['planningSelect'].elements['location']);		
		var capacityLoc = $('option:selected', locationSelect).attr('data-capacity');
				
		$.get("<?php echo($this->printAction('overzicht')); ?>", {
			ukgr_code     : ukgrCode,
			nextEventDate : requestDate, 
			nextTimeId : time_id,
			capacity  : capacityLoc
		  },
		  function(data, status){
			 $("#PlanningInfo").html(data);  	
		  });	 
	}
		
	
	
	function initializeTimes(){	
		var next_event = $(document.forms['planningSelect'].elements['next_event']).val();
		var ukgrCode = $(document.forms['planningSelect'].elements['location']).val();
		$("#PlanningInfo").html('&nbsp;');  	
		fetchTimes(ukgrCode, next_event);		
	}
	
	
	function fetchPlanningOverZicht(){
		var next_event = $(document.forms['planningSelect'].elements['next_event']).val();
		var ukgrCode = $(document.forms['planningSelect'].elements['location']).val();	
		var next_time_id = $(document.forms['planningSelect'].elements['next_time_id']).val();	
		fetchPlanning(ukgrCode, next_event, next_time_id);	
	}
	
	
	function initializeDates(){
		var ukgrCode = $(document.forms['planningSelect'].elements['location']).val();
		$.get("<?php echo($this->printAction('dates')); ?>", {
			ukgr_code     : ukgrCode
		  },
		  function(data, status){
			 $("#DatesOfLocation").html(data);  	
		  });	 
	}
	
	$(document).ready(function(){			
		
		$(document.forms['planningSelect'].elements['location']).on('change', function() {
			initializeDates();
		});
		initializeDates();	
	});	
	
	
	
</script>
