<label style="float:left;margin-right:5px;">
    <select name="next_time_id" onchange="fetchPlanningOverZicht();">
		<?php foreach($times as $timeItem) {
			$selected = $timeItem['time_id'] == $lastPlanningTimeId ? ' SELECTED'  : ''; 			
			?>
			<option value="<?php echo($timeItem['time_id']);  ?>" <?php echo($selected);  ?>>
			<?php echo($timeItem['time_of_event']);  ?></option>
			

			
		<?php } ?>	
	</select>
</label>    
<script>
	$(document).ready(function(){			
		fetchPlanningOverZicht();
	});		
		
	
</script>	
