<style>
    table.edit {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
		 width : 500px;
	}
	

	
	table.edit tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.edit tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
</style>
<form method="post"  action="<?php $this->printAction('handleAdd'); ?>" >
<table class="edit" style="width:100%">
  <tr>
    <td width="120px;">
      Stad
    </td>
    <td>
    <input type="text" name="city" value=""  />
    </td>
  </tr>	
  <tr>
    <td>
      Adres
    </td>
    <td>
    <input type="text" name="address" value=""  />
    </td>
  </tr>	  
  <tr>
    <td>
      Capaciteit
    </td>
    <td>
       <input type="number" name="capacity"  min="10"  onkeypress="return onlyNumberKey(event)"   value="20"  />
    </td>
  </tr>	 
  <tr>
    <td>
      UKGR Code
    </td>
    <td>
		 <input type="number" name="ukgr_code"  min="<?php echo $startCode; ?>"  
			onkeypress="return onlyNumberKey(event)"   value="<?php echo $startCode; ?>"  />
    </td>
  </tr>	  
 <?php foreach ($this->data['timesPerDayAtLocation'] as &$locPerDay) { ?>	  
  <tr>
    <td><?php echo $locPerDay['dayValue']; ?></td>
    <td  style="padding:0;">     
	  <?php foreach ($locPerDay['data'] as &$dienst) { ?>	  
		<label style="float:left; width:75px;">
		<?php  $checked = $dienst['ischecked'] ? ' CHECKED' : '' ?>
			<input  type="checkbox" style="float:left;"
			name="dayTimes[<?php echo $locPerDay['dayNumber']; ?>][]"    
			value="<?php echo($dienst['id']); ?>" <?php echo $checked ; ?>/>
			<span style="float:left;"><?php echo(substr($dienst['start_time'],0,5)); ?> &nbsp; </span>    
		</label>
	  <?php } ?>	        
    </td>
  </tr>	 	   
  <?php } ?>  
  <tr>
    <td colspan="2" style="text-align:right;">
		<input type="reset" value="Terug" onclick="document.location.href='<?php $this->printAction('show'); ?>';" />
        <input type="submit" value="Opslaan"  />
    </td>
  </tr>
</table>

</form>

<script> 
    function onlyNumberKey(evt) { 
          
        // Only ASCII charactar in that range allowed 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    } 
</script> 
