<style>
	h1.banner {
		text-align: center;
		background-color: linen;
		margin-top : 0;
		margin-bottom : 0;
		padding: 3px;
		border : 2px groove white;
	}
	
    table.edit {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
		 width: 100%;

	}
	
	table.edit tr th {
		text-align : left;
	}
	
	table.edit tr {
		height: 35px;
	}
	
	table.edit tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.edit tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
		
</style>
<a href="<?php $this->printAction('show');  ?>" style="float:right;margin-right:5px;margin-top:2px;"><img src="<?php echo($this->printImageSrc('rewind.png'));  ?>"  /></a>
<h1 class="banner"><?php echo($location->city); ?>, <?php echo($location->address); ?>: <?php echo($headerDateTime); ?></h1>
<table class="edit" >
	<tr>
		<td style="width:120px;"><strong>Datum/tijd</strong></td>
		<?php foreach($dateHeader as $dateCaption) { ?><td style="width:110px;font-weight:bold;"><?php echo($dateCaption['display_time']); ?></td><?php  } ?>
	</tr>
	<?php foreach ($moreDaysInfo as $dayInfo) { 
		$format = 'Y-m-d';
		$nextEvent = $dayInfo['next_event'];
		$date = DateTime::createFromFormat($format, $nextEvent);
		$DateDisplay  = $date->format('d-m-Y');	
	?>	
    <tr>
		<td><?php echo($DateDisplay); ?></td>
        <?php foreach ($dayInfo['data'] as $timeInfo) {  
				$jumpToList = array();
				$jumpToList[] = $this->globals['admin'];
				$jumpToList[] = 'bezoekers/jumpto';				
				$jumpToList[] = $location->ukgrCode;
				$jumpToList[] = $day_number;
				$jumpToList[] = $nextEvent;
				$jumpToList[] = $timeInfo['time_id'];
				$pathToUse = implode('/', $jumpToList);			
			?>
			<td>
				<a href="<?php echo($pathToUse); ?>">
					<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/team.png" height="18" />
					<?php echo($timeInfo['current_count']); ?>/<?php echo($timeInfo['capacity']); ?> 
					
				</a>
			</td>
			
		<?php } ?> 		
    </tr>		
	<?php } ?> 
</table>	

