<style>
	h1.banner {
		text-align: left;
		background-color: linen;
		margin-top : 0;
		margin-bottom : 0;
		padding: 3px;
		color : maroon;
		border : 2px groove white;
	}
		
    table.edit {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
		 width : 100%;
	}
	

	
	table.edit tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.edit tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
</style>
<form method="post"  action="<?php $this->printAction('handleEdit'); ?>" >
<a href="<?php $this->printAction('show');  ?>" style="float:right;margin-right:5px;margin-top:2px;">
	<img src="<?php $this->printImageSrc('stop_sign.png');  ?>"  />
</a>
<input type="image" value="Opslaan"  title="Wijzigingen opslaan"  
	style="float:right;margin-top:2px;margin-right:5px;" height="26" src="<?php $this->printImageSrc('document_save.png');  ?>"   />
<h1 class="banner">Locatie aanpassen inclusief reguliere dienst-tijden</h1>
<input type="hidden" name="ukgr_code" value="<?php echo($this->data['location']->ukgrCode); ?>"  />
<input type="hidden" name="id" value="<?php echo($this->data['location']->id); ?>"  />
<?php
	$checkedForActive = $this->data['location']->active ? "CHECKED"  : "";
	
?>
<table class="edit" >
  <tr>
    <td width="120px;">
      Stad
    </td>
    <td>
    <input type="text" name="city" value="<?php echo($this->data['location']->city); ?>"  />
    </td>
  </tr>	
  <tr>
    <td>
      Adres
    </td>
    <td>
    <input type="text" name="address" value="<?php echo($this->data['location']->address); ?>"  />
    </td>
  </tr>	  
  <tr>
    <td>
      Capaciteit
    </td>
    <td>
    <input type="number" name="capacity"  min="10"  onkeypress="return onlyNumberKey(event)" 
      value="<?php echo($this->data['location']->capacity); ?>"  />
    </td>
  </tr>	 
  <tr>
    <td>
      UKGR Code
    </td>
    <td>
		<?php echo($this->data['location']->ukgrCode); ?>
    </td>
  </tr>	     
  <?php foreach ($this->data['timesPerDayAtLocation'] as &$locPerDay) { ?>	  
  <tr style="height:60px;">
    <td><?php echo $locPerDay['dayValue']; ?></td>
    <td  style="padding:0;">     
	  <?php foreach ($locPerDay['data'] as &$dienst) { ?>	  
		<label style="float:left; width:75px;">
		<?php  $checked = $dienst['ischecked'] ? ' CHECKED' : '' ?>
			<input  type="checkbox" style="float:left;"
			name="dayTimes[<?php echo $locPerDay['dayNumber']; ?>][]"    
			value="<?php echo($dienst['id']); ?>" <?php echo $checked ; ?>/>
			<span style="float:left;"><?php echo(substr($dienst['start_time'],0,5)); ?> &nbsp; </span>    
		</label>
	  <?php } ?>	        
    </td>
  </tr>	   
	   
  <?php } ?>	      
  <tr>
    <td colspan="2" >	       
        <label><input type="checkbox" name="active"  value="1"  style="float:left;margin-top:5px;" <?php echo $checkedForActive;?> /><span style="float:left;margin-top:3px;">Actief</span></label>
    </td>
  </tr>
</table>

</form>

<script> 
    function onlyNumberKey(evt) {           
        // Only ASCII charactar in that range allowed 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    } 
</script> 
