<style>
	h1.banner {
		text-align: left;
		background-color: linen;
		margin-top : 0;
		margin-bottom : 0;
		padding: 3px;
		color : red;
		border : 2px groove white;
	}
		
    table.edit {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
		 width : 100%;
	}
	

	
	table.edit tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.edit tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
</style>
<form method="post"  action="<?php $this->printAction('handleFeestdagenEdit'); ?>" >
	<a href="<?php $this->printAction('show');  ?>" style="float:right;margin-right:5px;margin-top:2px;">
		<img src="<?php echo($this->printImageSrc('stop_sign.png'));  ?>"  />
	</a>
	
	<input type="image" value="Opslaan"  title="Wijzigingen opslaan"  
		style="float:right;margin-top:2px;margin-right:5px;" height="26" src="<?php $this->printImageSrc('document_save.png');  ?>"   />

	<h1 class="banner">Diensten op Feestdagen: <?php echo($location['city'].', '.$location['address']);?> </h1>
<input type="hidden" name="ukgr_code" value="<?php echo($location['ukgr_code']); ?>"  />
<table class="edit" >  
  <?php foreach ($this->data['timesPerDayAtLocation'] as &$locPerDay) { ?>	
  <tr>
     <td>
		 <h4 style="float:right;margin:0;color:green;"><?php echo $locPerDay['feestDagData']['beschrijving']; ?> &nbsp;</h4>
		 <h4 style="float:left;margin:0;color:navy;">
			<?php echo ucFirst($locPerDay['feestDagData']['dayName']); ?>, <?php echo $locPerDay['feestDagData']['display_date']; ?> 
		 </h4>
		 
		 
     </td>
	   
  </tr>	    
  <tr style="height:60px;">   
    <td  style="padding:0;">     
	  <?php foreach ($locPerDay['data'] as &$dienst) { ?>	  
		<label style="float:left; width:75px;">
		<?php  $checked = $dienst['ischecked'] ? ' CHECKED' : '' ?>
			<input  type="checkbox" style="float:left;"
			name="dayTimes[<?php echo $locPerDay['feestDagData']['id']; ?>][]"    
			value="<?php echo($dienst['id']); ?>" <?php echo $checked ; ?>/>
			<span style="float:left;"><?php echo(substr($dienst['start_time'],0,5)); ?> &nbsp; </span>    
		</label>
	  <?php } ?>	        
    </td>
  </tr>	   
	   
  <?php } ?>	      
</table>

</form>

