<style>
    table.display {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
	}
	
	 table.display thead {
		 background-color: lavender;
		 border-bottom : 2px groove white;

	}
	
	table.display thead tr th {
		 text-align:left;
		 padding-left : 3px;

	}
	
	table.display tbody tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.display tr td {
		 padding-left : 2px;
	}
	
	
	table.display tbody tr:hover  {
		/* background-color: midnightblue; 
		cursor: pointer;
		 color : yellow;  */
	}

</style>
<table class="display" style="width:100%">
	<thead>
		<tr>
			<th>Ukgr Code</th>			
			<th>Adres</th>
			<th>Capaciteit</th>
			<?php foreach($dayHeader as $dayItem) { ?>
				<th style="cursor:pointer;" title="<?php echo($dayItem['next_event']); ?>"><?php echo($dayItem['short_name']); ?></th> 
			<?php  }?>		
        	<th>
				<a href="<?php echo($this->globals['admin']);  ?>/location/add/">  
					<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/newcopy30.png"  />
				</a>
			</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($this->data['locations'] as &$location) { ?>
	<tr class="data" data-rowid="<?php  echo($location->id); ?>" >
		<td><?php echo($location->ukgrCode);?></td>
		<td><?php echo($location->city);?>, <?php echo($location->address);?></td>		
		<td><?php echo($location->capacity);?></td>
		<?php foreach($dayHeader as $dayItem) { ?>
			<td>
				<?php
				  $extraUrl = $location->ukgrCode.'/'.$dayItem['day_number'];
				?>
				<a href="<?php $this->printAction('church', $extraUrl); ?>">  
				 <img src="<?php $this->printImageSrc('church2.png');  ?>"  />
				</a>				
			</td>					
		<?php  }?>			
		<td>
			<a href="<?php $this->printAction('edit',$location->ukgrCode); ?>">  
			 <img src="<?php $this->printImageSrc('edit.png');  ?>"  />
			</a>
		</td>
		<td>
			<a href="<?php $this->printAction('feestdagen',$location->ukgrCode); ?>">  
			 <img src="<?php $this->printImageSrc('christmas_star_icon.png');  ?>" height="24" />
			</a>
		</td>		
	</tr>	
	<?php } ?>
	</tbody>
</table>

