<h1>Under Construction</h1>

<img src="<?php  $this->printImageSrc('construct02.gif'); ?>"  />


<p>
The show() method is required in your service class <strong><?php echo(get_class($this));  ?></strong> 
and the view directoy <strong><?php echo($this->basedir);  ?></strong>  needs to have the show.phtml file.
</p>
