<?php 
	extract($this->post); 
?>
<style>
	h1.banner {
		text-align: center;
		background-color: linen;
		margin-top : 0;
		padding: 3px;
		border : 2px groove white;
		margin-right: 0px;
	}
	
    table.edit {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
		 width : 600px;
	}
	
	table.edit tr th {
		text-align : left;
	}
	
	table.edit tr {
		height: 25px;
	}
	
	table.edit tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.edit tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
		
</style>
<h1 class="banner">Toevoegen gebruiker</h1>

<form method="post" action="<?php $this->printAction('personAddHandle'); ?>">
<table class="edit">
	<tr>
		 <td width="80px"><strong>Login ID</strong></td>
		 <td><input type="text" name="login_id"  value="<?php echo $login_id; ?>"  size="35" required="required" /></td> 
	</tr>	
	<tr>
		 <td><strong>Naam</strong></td>
		 <td><input type="text" name="fullname"  value="<?php echo $fullname; ?>"  size="35" required="required"/></td> 
	</tr>	
	<tr>
		 <td><strong>Wachtwoord</strong></td>
		 <td><input type="password" name="password"  value=""  size="35" required="required"/></td> 
	</tr>
	<tr>
		 <td style="white-space:nowrap;"><strong>Wachtwoord (herhaal)</strong></td>
		 <td><input type="password" name="password2"  value=""  size="35" required="required" /></td> 
	</tr>		 
	<tr>
		 <td><strong>Level</strong></td>
		 <td>
		    <select name="level">
			<?php
			   foreach ($this->levels as &$leveli) {	
					$selected = $leveli === $level ? ' SELECTED'  : '';
					echo("<option value=\"$leveli\"  >$leveli</option> " );
				}
			?>
		    </select>		 
		 </td> 
	</tr>	 		 
	<tr>
     <td colspan="2"  style="text-align:right;">
		  <a style="float:right;margin-left:10px;margin-right:10px;" href="<?php $this->printAction('show'); ?>"> 
			<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/stop_sign.png"  title="Annuleren"/></a>
           <input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;" height="26" src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/document_save.png"   />
     </td>
  </tr>
</table>
<pre><?php  echo($this->errorMsg); ?></pre>
</form>
