<style>
	h1.banner {
		text-align: center;
		background-color: linen;
		margin-top : 0;
		padding: 3px;
		border : 2px groove white;
		margin-right: 40px;
	}
	
    table.edit {
		 border-collapse: collapse;
		 background-color: linen;
		 border : 2px groove white;
		 width : 700px;
	}
	
	table.edit tr th {
		text-align : left;
	}
	
	table.edit tr {
		height: 25px;
	}
	
	table.edit tr:nth-child(even)  {
		background-color: ivory;
	}
	
	table.edit tr td {
		 padding-left : 2px;
		 vertical-align: top;
	}
		
</style>
<form  method="post">
<table class="edit" >
<tr>
  <th>LoginId</th><th>Naam</th><th>level</th>
  <th width="60px">  
	 <?php if ($this->session['level'] == 'admin' )  { ?>  
		<a href="<?php echo($this->globals['admin']);  ?>/users/personAdd">
				<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/users_add.png"  width="22" />
		</a>
     <?php } ?>
     
  </th>
</tr>	
<?php foreach ($users as &$person) { ?>	  
	<tr>
       <td> <?php echo($person['login_id']); ?> </td>
       <td> <?php echo($person['fullname']); ?> </td>
       <td> <?php echo($person['level']); ?> </td>
       <td style="white-space:nowrap;">		
			<?php if ($person['login_id'] == 'admin' &&  $this->session['login_id'] == 'admin'  )    { ?> 
				<a style="float:left;margin-right:5px;"  
					href="<?php echo($this->globals['admin']);  ?>/users/personEdit/<?php echo $person['id']; ?>">
				  <img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/user_blue_edit.png"   width="18px" />   
				</a>
			<?php } else if ($person['login_id'] == $_SESSION['login_id']   ||
								($this->session['level'] == 'admin' && $person['login_id'] != 'admin')  )  {  ?>
				<a style="float:left;margin-right:5px;"  
					href="<?php echo($this->globals['admin']);  ?>/users/personEdit/<?php echo $person['id']; ?>">
				  <img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/user_blue_edit.png"   width="18px" />   
				</a>
			<?php } ?>    

			<?php if ($this->session['level'] == 'admin'  && $person['id'] != $this->session['user_id']  
							&& ($this->session['login_id'] == 'admin' || ($this->session['login_id'] != $person['login_id']  &&  $person['login_id'] != 'admin')))  { ?>
				<input type="image" name="personToReset[<?php echo $person['id']; ?>]"   title="Wachtwoord resetten"
				width="18px" onclick= "return submitPwReset();"  style="float:left;margin-right:5px;"
				src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/key.png" alt="opslaan" >        
			<?php } ?>
    	  
       </td>       
	</tr>
<?php } ?> 		  
</table>
</form>


<script>
function submitPwReset() {
   return confirm('Weet u zeker dat u wilt resetten?');
}	
	
function submitDelete() {
   return confirm('Weet u zeker dat u deze persoon wilt verwijderen?');
}
</script>
