@import "common.css";

document {
	background: #FFFFFF; /* For browsers that do not support gradients */

}

body {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #000000;
    overflow: auto;
    background : ;
    background: linear-gradient(to right,Black , MidnightBlue 30%,   DarkBlue 50%, MidnightBlue 70%,Black); /* Standard syntax */
}


div.innerBody {
	margin-top : 25px;
	display: block;
	overflow:hidden;
    background: linear-gradient(to right,peachpuff, SeaShell  30%,white 50%, SeaShell  70% , peachpuff); /* Standard syntax */
    background: linear-gradient(to right,SkyBlue , white 45%,   white 55%,SkyBlue); /* Standard syntax */
    vertical-align: top;
    padding-bottom : 50px;
    width: 700px;
	margin-left:auto;
	margin-right:auto;	
	padding : 10px;
	
	border : 4px solid goldenrod;
	border: 5px solid;
	  border-image-source: linear-gradient(40deg, goldenrod, lightgoldenrodyellow);
	  border-image-slice: 1;
}



marquee {
 font-size:11pt;
}




.ui-tabs .ui-tabs-panel{
    padding: 4px 4px;

}

iframe.covid19 {
	display:block;
	overflow:hidden;
	width:100%;
	height:450px;
	margin:0;
	padding:0;
}
