<form method="post" name="prefForm">
<div style="display:block;overflow:hidden;border:2px groove white;background:lavender;">
   <input style="float:right;" type="image" value="Opslaan"  title="Wijzigingen opslaan"   height="26"
						src="<?php $this->printImageSrc('document_save.png'); ?>"  />
	<div style="float:left;margin:3px;font-weight:bold;">Aanvraag reservering.</div>
</div>	

	<div style="display:block;overflow:hidden;border:2px groove white;background:linen;">
		<div style="float:right;margin:3px;"> <?php echo($locations[0]['capacity']);?> </div>
		<div style="float:left;margin:3px;"><?php echo($locations[0]['city']);?>, <?php echo($locations[0]['address']);?> </div>		
	</div>

<?php
	$widthItem = $this->mobile  ? '45px' : '50px';
	$widthItem2 = $this->mobile  ? '110px' : '130px';
?>
<style>
label.dayPrefItem {	
	color: #808080;
}	
	
.accentTxt {	
	
	color:navy;
	font-weight:bold;
}
</style>

	<input type="hidden"  name="updateRequired"	value="YES"  />	
	<div style="display:block;overflow:hidden;margin-top:10px;">
		<?php foreach ($prefs['data'] as $prefItem) { 
			$times = explode(",", $prefItem->times);			
			$showtime = explode(",", $prefItem->showtime);
			$prefered = explode(",", $prefItem->prefered); 
			$dayNumber = $prefItem->dayNumber;
			$showSpace = ($dayNumber == 2  || $dayNumber == 3 || $dayNumber == 5);
			$dateCombined = array();
			foreach($times as $index=>$aTime) {
				$dateCombined[$aTime] =  array(
					'showTime'=>$showtime[$index], 
					'checked'=> ($prefered[$index] ? 'checked="CHECKED"' : '')
				);
			}

			?>
			<div class="dayPrefPerson" style="display:block; overflow:hidden;height:25px;">
				<h2 style="float:left;margin-top:0px;width:25px;color:navy;margin-right:10px;"><?php     echo strtolower($prefItem->shortName); ?>	 </h2>
				
				<div  class="dayPrefItems" style="display:block; overflow:hidden;">					
					<?php foreach($dateCombined  as $time_id=>$values){ ?>
					  <?php if ($showSpace  && intval($time_id) == 12 ) { ?>
						  <label  style="float:left;width:<?php echo($widthItem); ?>;">&nbsp; </label>
						  
					  <?php  } ?>	  	
					  <label class="dayPrefItem" style="float:left;width:<?php echo($widthItem); ?>;cursor:pointer;">
						  <span  style="float:left;margin-top:4px;" ><?php echo($values['showTime']); ?></span>
						  <input type="checkbox" style="float:left;margin-top:4px;margin-left:-60px;margin-right:0;visibility:hidden;" 
								value="<?php  echo($time_id); ?>" 
								name="prefered[<?php echo $prefItem->dayNumber; ?>][<?php echo $time_id; ?>]"  <?php echo $values['checked']; ?> 
								data-daynumber = "<?php echo($dayNumber); ?>"							
								data-timeid = "<?php echo($time_id); ?>" 
								data-showtime = "<?php echo($values['showTime']); ?>" 
								onclick="handleThisRadiobutton(this);" />
						  
					</label>				
					<?php }?>								
				</div>
			</div>		
		<?php }?>	
	</div>	
	<div style="display:block;overflow:hidden;clear:both;margin-top:10px;color:navy;">
     <p>
    		Uw voorkeur zal gebruikt worden bij het maken van de planning. Indien de zaal is volgeboekt, op het
			tijdstip van uw voorkeur, zult u op een later tijdstip ingedeeld worden. 
			Controlleer dus altijd uw <a href="<?php  echo($this->printServiceAction('agenda')); ?>" style="background:yellow;">Agenda</a>. 
     </p>
	 <p>
	 U kunt met muis of vinger het tijdstip selecteren of de selectie ongedaan maken.  
	 Vergeet niet om op opslaan (rechtsboven) te klikken, om uw wijzigen vast te leggen.
	 </p>
			
		</div>
</form>

<div style="display:block;overflow:hidden;margin-top:10px;">
	<?php foreach ($available['data'] as $prefItem) { 
		    $selcolor = intval($prefItem->selcolor);
		    $tmColor = $selcolor == 1 ? 'black' : 'red';
			$times = explode(",", $prefItem->times);			
			$free = explode(",", $prefItem->available);
			$infoForDate = array_combine($times, $free);
			$format = 'Y-m-d';
			$date = DateTime::createFromFormat($format,  $prefItem->nextEvent);
			$DateDisplay  = $date->format('d-m-Y');
			?>	
			<div style="float:left;width:<?php echo($widthItem2); ?>;height:160px;overflow:hidden;">
				<table style="border-collapse: collapse;margin:0;padding:0;">
					<tr>
						<td colspan="2" style="color:navy;font-weight:bold;"><?php echo strtolower($prefItem->shortName); ?> <?php echo $DateDisplay ; ?></td>
					</tr>
					<tr  style="color:navy;font-weight:bold;">
						<td >Tijd</td><td style="width:25px;text-align:right;">Vrij</td>
					</tr>	
					<?php foreach($infoForDate as $key=>$freeItem)  {  ?>
					<tr style="color:<?php echo($tmColor); ?>;">
						<td><?php echo $key; ?></td><td style="text-align:right;"><?php echo $freeItem; ?></td>
					</tr>	
						
					<?php }?>		
				</table>			
			
			</div>

			
			
	<?php }?>	
</div>	
<script>

	function handleThisRadiobutton(domItem){	
		var prevState = domItem.getAttribute('data-prevstate');
		if (prevState != null && prevState == "ON") {
			domItem.checked = false;
		}					
		var jqthis = $(domItem);
		
		var dayNumber = parseInt(jqthis.attr('data-daynumber'));
		var showtime  = jqthis.attr('data-showtime');
		if ((dayNumber != 1 ||  showtime != "18:00") && domItem.checked) {
			var upperParent = jqthis.parents('div.dayPrefItems').eq(0);
			upperParent.find('input[type=checkbox]').each(function(index){	
				var showtimeOther  = $(this).attr('data-showtime');

				if ($(this).is(':checked')) {	
					var domItemOther =  	$(this).eq(0).get(0);					
					if (domItemOther.getAttribute('data-showtime') != domItem.getAttribute('data-showtime')) {
						if ((dayNumber == 1 && showtimeOther != "18:00") || (dayNumber != 1)){
							domItemOther.checked = false;
							updateStateRadio(domItemOther);
							
						}
					}
					
				}							
			
			});	
		}
		updateStateRadio(domItem);
	}
	
	
	function updateStateRadio(domItem){
		var jqthis = $(domItem);
		
		if (jqthis.is(':checked')) {		
			jqthis.parent().find('span').addClass('accentTxt');
			jqthis.attr('data-prevstate', 'ON');
			
		} else {
			jqthis.parent().find('span').removeClass('accentTxt');
			jqthis.attr('data-prevstate', 'OFF');
		}	
	}

	
	$(document).ready(function(){	
		$('input[type=checkbox]').each(function(index){				
			if ($(this).is(':checked')) {	
				var domItem =  	$(this).eq(0).get(0);
				updateStateRadio(domItem);	
			}			
		});		
	});

</script>



