<?php 
	extract($this->post); 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
</style>
<form method="post" action="<?php $this->printAction('handleAdd'); ?>">
	<table class="zebra">
		<tr class="rowToColor" >
		   <td style="width:100px;">Group</td><td><input type="text"  name="load_group"  style="text-transform: uppercase;"
					value="<?php echo( isset($this->post['load_group']) ?  $this->post['load_group'] : '');     ?>" required="required" /></td>
		</tr>
		<?php if ($errors) { ?>
		<tr class="rowToColor" >
		   <td colspan="2"  style="color:red;"><?php echo($errors); ?></td>
		</tr>					
		<?php  } ?>	
    	<tr class="rowToColor" >
		   <td style="width:100px;">Type</td><td><input type="text"  name="load_type"  
		      value="<?php echo( isset($this->post['load_type']) ?  $this->post['load_type'] : '');     ?>" required="required" /></td>
		</tr>				
		<tr class="rowToColor" >
		   <td style="width:100px;">Titel</td>
		   <td>
		     <input type="text"  name="title"  
		     value="<?php echo( isset($this->post['title']) ?  $this->post['title'] : '');     ?>" required="required"  />		   
		   </td>
		</tr>	
        <tr class="rowToColor" >
			<td style="width:100px;">Active</td>
			<td>
				<input type="checkbox"  name="active"  value="1"  <?php echo(isset($_POST['active']) ?  'CHECKED' : '');     ?>/>		   
			</td>
			
        </tr>		
        <tr class="rowToColor" >
			<td style="width:100px;">Volgorde</td>
			<td>
				<input type="number"  name="sequence"  
					value="<?php echo( isset($this->post['sequence']) ?  $this->post['sequence'] : '');     ?>" 
					size="4" onkeypress="return onlyNumberKey(event)"  required="required"   />		   
			</td>
        
        </tr>		        
		<tr class="rowToColor" >
			<td colspan="2"  style="text-align:right;">
				<a style="float:right;margin-left:10px;margin-right:10px;" href="<?php $this->printAction('show'); ?>"> 
					<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/stop_sign.png"  title="Annuleren"/></a>		 
				 <input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;" height="26" src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/document_save.png"  t />

				
			</td>
		</tr>
	</table>
</form>
<script> 
    function onlyNumberKey(evt) {           
        // Only ASCII charactar in that range allowed 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    } 
</script> 
