<?php 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
</style>
<h1><?php  echo($item['media_group']); ?></h1>
<form method="post" action="<?php $this->printAction('handleItemEdit'); ?>">
   <input type="hidden"  name="id" value="<?php echo($item['id']); ?>" />
   <input type="hidden"  name="media_group" value="<?php echo($item['media_group']); ?>" />
   <table class="zebra">
		<tr class="rowToColor" >	
		   <td>Titel</td>
		    <td>
		     <input type="text"  name="title"  value="<?php echo($item['title']); ?>" required="required" size="80" />		   
		   </td>
	    </tr>
		<tr class="rowToColor" >	
		   <td>Bron (URL)</td>
		    <td>
		     <input type="text"  name="source"  value="<?php echo($item['source']); ?>" required="required" size="80" />		   
		   </td>
	    </tr>	
	    <tr class="rowToColor" >	
		   <td>Website</td>
		    <td>
		     <input type="text"  name="anchor"  value="<?php echo($item['anchor']); ?>"  size="80" />		   
		   </td>
	    </tr>
	   <tr class="rowToColor" >		 		   
		   <td >Actief</td>
		   <td>
		     <input type="checkbox"  name="active"  value="1" <?php if ($item['active']) echo("checked"); ?>/>		   
		   </td>
		</tr> 
		<tr class="rowToColor" >	   
		    <td >Volgorde</td>
		    <td>
		     <input type="number"  name="sequence"  value="<?php echo($item['sequence']); ?>"size="4" onkeypress="return onlyNumberKey(event)"  />		   
		   </td>
		</tr>    
		<tr class="rowToColor" >		   
		   <td>&nbsp;</td>
		   
		   
			<td style="text-align:right;" >
				<a style="float:right;margin-left:10px;margin-right:10px;" href="<?php $this->printAction('items',$item['media_group']); ?>"> 
					<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/stop_sign.png"  title="Annuleren"/></a>		 
				 <input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;" height="26" src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/document_save.png"  t />

			</td>
		</tr>
	</table>
</form>
<script> 
    function onlyNumberKey(evt) {           
        // Only ASCII charactar in that range allowed 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    } 
</script> 
