<?php 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
</style>
<form method="post" action="<?php $this->printAction('handleEdit'); ?>">
   <input type="hidden"  name="id" value="<?php echo($rubriek['id']); ?>" />
	<table class="zebra">
		<tr class="header" >
		   <th style="width:150px;">Groep</th>
		   <th style="width:90px;">Type</th>
		   <th>Titel</th>
		   <th style="width:90px;">Actief</th>
		    <th style="width:110px;">Volgorde</th>
		   <th>&nbsp;</th>
		</tr>	
		<tr class="rowToColor" >		   
		   <td><?php echo($rubriek['load_group']); ?></td>
		   <td><?php echo($rubriek['load_type']); ?></td>
		   <td>
		     <input type="text"  name="title"  value="<?php echo($rubriek['title']); ?>" required="required"  />		   
		   </td>
		   <td>
		     <input type="checkbox"  name="active"  value="1" <?php if ($rubriek['active']) echo("checked"); ?>/>		   
		   </td>
		   <td>
		     <input type="number"  name="sequence"  value="<?php echo($rubriek['sequence']); ?>"size="4" onkeypress="return onlyNumberKey(event)"  />		   
		   </td>		   
			<td style="text-align:right;">
				<a style="float:right;margin-left:10px;margin-right:10px;" href="<?php $this->printAction('show'); ?>"> 
					<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/stop_sign.png"  title="Annuleren"/></a>		 
				 <input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;" height="26" src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/document_save.png"  t />

			</td>
		</tr>
	</table>
</form>
<script> 
    function onlyNumberKey(evt) {           
        // Only ASCII charactar in that range allowed 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    } 
</script> 
