<?php 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		width:100%;
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
</style>
<table class="zebra">
	<tr class="header">
		<th >Title</th><th style="width:50px;">Sequence</th><th>Anchor</th><th>Actief</th>
		<th style="width:60px;">
			<a href="<?php echo($this->globals['admin']);  ?>/rubriek/addItem/<?php echo $media_group; ?>">  
				<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/newcopy30.png"  />
			</a>
		   <a href="<?php $this->printAction('show'); ?>" style="float:right;">
				<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/rewind.png"  />
			</a>
		</th>
	</tr>
	<?php foreach($items as $item) { ?>
	<tr class="rowToColor"  >
		<td><?php echo($item['title']); ?></td>
		<td><?php echo($item['sequence']); ?></td>
		<td><?php echo($item['anchor']); ?></td>
		<td><?php echo($item['active'] ? 'JA' : 'NEE'); ?></td>
	    <td>
			<a href="<?php echo($this->globals['admin']);  ?>/rubriek/editItem/<?php  echo($item['id']); ?>">  
			<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/edit.png"  />
			</a>		
	    </td>
	</tr>
	<?php } ?>
</table>
