<?php 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		width:100%;
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
</style>
<table class="zebra">
	<tr class="header">
		<th style="width:150px;">Groep</th><th style="width:180px;">Titel</th><th >Type</th><th>Volgorde</th><th>Actief</th>
		<th>
			<a href="<?php echo($this->globals['admin']);  ?>/rubriek/add/">  
				<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/newcopy30.png"  />
			</a>
		
		</th>
	</tr>
	<?php foreach($rubrieken as $rubriek) { ?>
	<?php  
		$rowCounter++;
		$styleX = ($rowCounter % 25) == 0 ? "style=\"page-break-after: always;\"" : "";	
	?>	
	<tr class="rowToColor"  <?php echo($styleX );  ?>>
		<td><?php echo($rubriek['load_group']); ?></td>
		<td><?php echo($rubriek['title']); ?></td>
		<td><?php echo($rubriek['load_type']); ?></td>
		<td><?php echo($rubriek['sequence']); ?></td>
		<td><?php echo($rubriek['active'] ? 'JA' : 'NEE'); ?></td>
	    <td>
			<a href="<?php echo($this->globals['admin']);  ?>/rubriek/edit/<?php  echo($rubriek['id']); ?>">  
			<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/edit.png"  />
			</a>
			<a href="<?php echo($this->globals['admin']);  ?>/rubriek/items/<?php  echo($rubriek['load_group']); ?>">  
			<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/gear.png" width="22" />
			</a>			
	    </td>
	</tr>
	<?php } ?>
</table>
