<?php 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
</style>
<form method="post" action="<?php $this->printAction('handleAdd'); ?>">
	<table class="zebra">
		<tr class="rowToColor" >
		   <td style="width:100px;">Tag</td><td><input type="text"  name="tag"  value="" required="required" /></td>
		</tr>	
		<tr class="rowToColor" >
		   <td style="width:100px;">Inhoud</td>
		   <td>
			   <textarea name="data" placeholder="U kunt hier de Inhoud invullen."  style="width:500px; height:100px;" required="required" ></textarea>			   
			</td>
		</tr>	
		<tr>
			<td colspan="2"  style="text-align:right;">
				<a style="float:right;margin-left:10px;margin-right:10px;" href="<?php $this->printAction('show'); ?>"> 
    				<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/stop_sign.png"  title="Annuleren"/></a>		 
				 <input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;" height="26" src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/document_save.png"  t />

			</td>
		</tr>
	</table>
</form>
