<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>

<h3 style="color:purple"><?php echo($pagePart['tag']); ?>  (id = <?php echo($pagePart['id']); ?>)</h3>
<form method="post" action="<?php $this->printAction('handleEdit'); ?>"  >
   <input type="hidden"  name="id" value="<?php echo($pagePart['id']); ?>" />
	<div>
	   <textarea name="data" id="dataTextArea1" class="ckeditor" placeholder="U kunt hier de Inhoud invullen."  
	       style="width:750px; height:400px;" required="required" ><?php echo($pagePart['data']); ?></textarea>			   
	
	</div>
	<div>
		<a style="float:right;margin-left:10px;margin-right:10px;" href="<?php $this->printAction('show'); ?>"> 
		<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/stop_sign.png"  title="Annuleren"/></a>		 
		<input type="image" value="Opslaan"  title="Wijzigingen opslaan"  style="float:right;" 
		    height="26" src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/document_save.png"  t />

	</div>
</form>
<script>
 CKEDITOR.replace( 'dataTextArea1', {
	height: 420,
	filebrowserUploadUrl : "/upload.php?type=file&CKEditorFuncNum=1", 
	filebrowserImageUploadUrl: "/upload.php?type=image&CKEditorFuncNum=1",
	filebrowserUploadMethod: "form"
 });
</script>
