<?php 
	$rowCounter = 0;
?>
<style>
	table.zebra {
		width:100%;
		background-color: linen;
		margin:0;
		border-collapse: collapse;
	}
	
	
	table.zebra tr.header  {
		background-color: white;
	}
	
	table.zebra tr.header th {
		text-align : left;
	}
	
	table.zebra tbody tr.rowToColor:nth-child(even)  {
		background-color: ivory;
	}
	
</style>
<table class="zebra">
	<tr class="header">
		<th style="width:50px;">ID</th><th style="width:150px;">Tag</th><th >Inhoud</th>
		<th>
			<a href="<?php echo($this->globals['admin']);  ?>/voorPagina/add/">  
				<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/newcopy30.png"  />
			</a>
		
		</th>
	</tr>
	<?php foreach($pageParts as $pagePart) { ?>
	<?php  
		$rowCounter++;
		$styleX = ($rowCounter % 25) == 0 ? "style=\"page-break-after: always;\"" : "";	
	?>	
	<tr class="rowToColor"  <?php echo($styleX );  ?>>
		<td><?php echo($pagePart['id']); ?></td>
		<td><?php echo($pagePart['tag']); ?></td>
		<td><?php echo($pagePart['data']); ?></td>
	    <td>
			<a href="<?php echo($this->globals['admin']);  ?>/voorPagina/edit/<?php  echo($pagePart['id']); ?>">  
			<img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/edit.png"  />
			</a>
	    </td>
	</tr>
	<?php } ?>
</table>
