@import "common.css";

document {
	background: #FFFFFF; /* For browsers that do not support gradients */

}

body {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #000000;
    overflow: auto;
    background: linear-gradient(to right,royalblue , lightskyblue 30%,   lightblue 50%, lightskyblue 70%,royalblue); /* Standard syntax */
}


div.innerBody {
	margin-top : 25px;
	display: block;
	overflow:hidden;
    background-color: #f8f9f9;
    vertical-align: top;
    padding-bottom : 50px;
    width: 900px;
	margin-left:auto;
	margin-right:auto;	
	padding : 10px;
	
	border: groove 2px  white;
}

div.innerBody.main {
  min-height: 600px;
}

marquee {
 font-size:11pt;
}




.ui-tabs .ui-tabs-panel{
    padding: 4px 4px;

}

div.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
  background-color: white;
  border: 3px groove white;
}
