document {
	background: #FFFFFF; /* For browsers that do not support gradients */

}

body {   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #000000;
    overflow: auto;
    background: #FFFFFF; /* For browsers that do not support gradients */
}

h1 {
    color : #DD0000;
    font-size : 14pt;
}

h2 {
    color : #DD0000;
    font-size : 13pt;

}

h1.logo {
    text-align: left;

    display : block;
    background-image: url("images/ukgr.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    color : #DD0000;

}

h2.logo {
    text-align: center;

    display : block;
    background-image: url("images/ukgr.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    color : #DD0000;
    font-size : 12pt;
    text-align: center;
}

p {
    color : #200000;
    text-align: justify;
    text-justify: inter-word;
}

article {
    text-align: justify;
    text-justify: inter-word;
    color : #200000   ;
}

section p {
  text-align: justify;
  text-justify: inter-word;
}

P img.story {
    width : 40%;
    float:right;
    margin-left:20px;
}

div.CenterPage {
    width: 900px;
    margin-top: 20px;
    margin-left : auto;
    margin-right: auto;

    padding : 5px;
}
