<!DOCTYPE html>
<html lang="nl-NL">
<head>
  <meta charset="UTF-8">
  <title>Wees Gezegend</title>  
	<?php include($this->includeScript('/cssJsLibs/cssinit.php')); ?> 
</head>
<body>
<div class="innerBody">
	 <a href="<?php echo($this->globals['admin']);  ?>/login/logout"  
		style="float:right;" title="Afmelden"><img src="<?php echo($this->printImageSrc('log_out.png'));  ?>" /></a>
	<div style="float:right;width:200px;margin-right:10px;color:navy;">
		<?php  echo($this->session['fullname']); ?><br />
		(<?php  echo($this->session['login_id']); ?>) <?php  echo($this->session['level']); ?><br />
	</div>	
	
	<h1 style="float:left;">Admin Weesgezegend site:</h1>
	<h2 style="float:left;margin-left:10px;color:blue;"><?php echo $this->currentMenu['label'];?></h2>
</div>	
<div class="MenuBar"  >
  <?php
    $accesLevelUser = $this->accesLevelUser;
	// 3 locaties pastors
	// admin alles
	// viewer bezoekers
	// rubriek, pagina extern
    $dispatcher =  new Dispatcher($this->basedir);  
  ?> 	
  <?php foreach($this->registered as $key => $menuItem)  {  
	      $accesLevelItem = new AccesLevel($menuItem['level']);
   ?>
	   <?php  if ($this->session['level'] == 'admin' ||   $accesLevelUser->getClearance() <=   $accesLevelItem->getClearance()
					)  { ?>  
		    <?php if (($this->session['level'] !== 'pastors'  || $accesLevelItem->getLevel() =='pastors'|| $key == "bezoekers" || $key == "planning")  && 
					  ($this->session['level'] !== 'viewer'   || $accesLevelItem->getLevel() =='viewer' || $key == "bezoekers") 
		    
					)  { ?>
				<a href="<?php echo($dispatcher->getHref($key));  ?>" title="<?php echo($menuItem['label']);  ?>"				    
					class="menuButton<?php  if ($dispatcher->isSelected($key)) { echo(' current');}; ?>"  
					style="background-image:url(<?php echo($this->printImageSrc($menuItem['image']));  ?>);" >
					 &nbsp;</a>	
				
			<?php } ?>	
	   <?php }  ?>	  	   
	  
  <?php }  ?>	 
</div>
<div class="MainCenterPage" >
	<?php 
	    if (!file_exists($pathToView )) {
			$viewBase = $this->globals['root'].self::VIEW_ROOT;
			$pathToView = $this->file_build_path($viewBase,"mijnUkgr")."/show.phtml";
		}	
		include($pathToView); 
	?>
</div>	
</body>
</html>

