<!DOCTYPE html>
<html lang="nl-NL">
<head>
  <meta charset="UTF-8">
  <title>Wees Gezegend</title>  
	<?php include($this->includeScript('/cssJsLibs/cssPrint.php')); ?> 
</head>
<body>
<?php include($pathToView); ?>
</body>
</html>

