<h1  align="left"   style="color:blue;">Wachtwoord instellen</h1>
<p style="max-width:400px;">
U ontvangt deze mail, omdat u aangegeven heeft dat u uw wachtwoord wilt herstellen. Indien u dit verzoek niet heeft ingediend,hoeft u niets
te doen en kunt u de mail verwijderen.
 <hr />
 Via deze <a href="<?php echo($url); ?>">herstel koppeling</a> kunt u nu uw wachtwoord instellen. Indien
 deze link niet werkt, kunt u de volgende tekst in uw adresbalk plaatsen: <br />
 <strong style="color:red;"><?php echo($url); ?></strong>

</p>
