<p style="margin:10px;">
	U ontvangt een email waarmee uw wachtwoord kan worden ingesteld. Daarna zult u kunnen inloggen met uw nieuw gekozen wachtwoord. 
	U kunt <a href="<?php $this->printAction('show'); ?>">terukeren </a>naar de inlog pagina.
</p>

