<p style="margin:10px;">
	U heeft ongeldige informatie opgegeven. Uit veiligheidsoverwegingen zult u een nieuwe aanvraag moeten indienen om het wachtwoord te herstellen.
	U kunt <a href="<?php $this->printAction('show'); ?>">terukeren </a>naar de inlog pagina.
</p>
