<h1  align="center">Wachtwoord herstellen</h1>
<form method="POST"  enctype="multipart/form-data" name="regForm"  action="<?php $this->printAction('savenewpassword'); ?>" >
<input type="hidden"  name="email"  value= "<?php echo($email); ?>"    />
<table align="center"  style="margin-top:20px; margin-bottom:30px;">
	<tr>
	  <td>Wachtwoord</td>
	  <td ><input type="password"  name="password"  pattern=".{8,12}" value="" 
		placeholder="Uw wachtwoord"
		required size="15" title="8 tot 12 karakters vereist"/></td>
	</tr>	   
	<tr>
	  <td>Wachtwoord herhalen</td>
	  <td ><input type="password"  name="password2"  pattern=".{8,12}" value="" 
		placeholder="Uw wachtwoord"
		required size="15" title="8 tot 12 karakters vereist"/></td>
	</tr>	   
    <tr>
		<td>Geboortedatum</td>
		<td>
		   <input type="text"  name="birth_date"  value="<?php echo($this->birthDate); ?>" 
			  data-altFormat="yy-mm-dd" data-field="useDate"  
			  required  size="15" placeholder="dd-mm-yyyy"/>
			  <input type="hidden"  name="useDate"  id="useDateHidden"  />

		</td>
	</tr>
    <tr>      
     	<tr >		 
			<td colspan="2"  style="text-align:right;">'
				<input type="reset"  value="Annuleren" onclick="document.location.href='/mijnUkgr'" /> 
				<input type="submit"  value="Opslaan"  onclick="return valideerWachtwoorden()" /> 
			</td>
		</tr>	
   </tr> 


</table>
</form>
<script>	
	$(document).ready(function(){	
		$.datepicker.setDefaults($.datepicker.regional['nl']);
		var today = new Date();
		today.setDate(1);
		today.setYear(new Date().getFullYear() -20);
		
			
 		var formatted = $.datepicker.formatDate("dd-mm-yy", today);
 		$( "form[name='regForm'] :input[name='birth_date']" ).datepicker({ 
			dateFormat : 'dd-mm-yy' ,
			changeMonth: true,
			changeYear: true,
			yearRange: "-100:-10",
			defaultDate : today,
			onSelect: function(dateText) {	
				var $thatInput = $(this).siblings("input[name='"+ $(this).attr('data-field')+"']");
				var dateObject = $(this).datepicker("getDate");	
				var dateString = $.datepicker.formatDate($(this).attr('data-altFormat'), dateObject);	
				$thatInput.val(dateString);
				
			}		
		});	
		
		$( "form[name='regForm'] :input[name='birth_date']" ).blur(function() {
			var $thatInput = $(this).siblings("input[name='"+ $(this).attr('data-field')+"']");
			var dateObject = $(this).datepicker("getDate");	
			var dateString = $.datepicker.formatDate($(this).attr('data-altFormat'), dateObject);	
			$thatInput.val(dateString);
		});
		$('form :input:password:visible:not(input[class*=filter]):first').focus();
						
	});		
	
	
	function valideerWachtwoorden(){
		var ww1 = $( "form[name='regForm'] :input[name='password']" ).val();
		var ww2 = $( "form[name='regForm'] :input[name='password2']" ).val();
		if (ww1 != ww2) {
			alert("Uw wachtwoorden zijn niet gelijk. U zult in beide velden hetzelfde wachtwoord moeten invullen.")
		}
		return ww1 == ww2;
	}
</script>
	
