<h2>U bent nog niet geregistreerd bij op mijnUkgr.</h2>
<p>Vul al uw gegevens in zodat uw kan worden geregistreerd. Met annuleren keert u terug naar het vorige scherm.</p>
<form method="post"  enctype="multipart/form-data" name="regForm" >	
	<table class="edit" style="width:100%;">
		<tr>
			<td>eMail</td>
			<td colspan="2"><input  type="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"  style="width:200px;" value="<?php echo($this->email); ?>" required /></td>
		</tr>		
		<tr>
			<td style="width:90px;">Voornaam</td>
			<td colspan="2"><input type="text"  name="first_name"  value="<?php echo($this->firstName); ?>" style="width:200px;" required /></td>
		</tr>
		<tr>
			<td>Achternaam</td>
			<td colspan="2"><input type="text"  name="last_name"  value="<?php echo($this->lastName); ?>"  style="width:200px;" required /></td>
		</tr>	
		<tr>
			<td>Geslacht</td>
			<td colspan="2"    >
				<?php
				  $this->addRadioGroupList(
					array(
						0 => array('value'=>'M', 'title'=>'Man', 'class'=>'male'),
						1 => array('value'=>'F', 'title'=>'Vrouw', 'class'=>'female')
					), 
					"gender", $this->gender, "gender");
				?>			 
			</td>
		</tr>	
		<tr>
			<td colspan="3">
				Locatie <br />
				 <select name="ukgr_code">
					<?php foreach($locations as $location) {
						$selected = intval($location['ukgr_code']) == intval($this->ukgr_code) ? ' SELECTED'  : ''; ?>
						<option value="<?php echo($location['ukgr_code']);  ?>" <?php echo($selected);  ?>>
						<?php echo($location['ukgr_code']);  ?>: <?php echo($location['city']);  ?>, &nbsp; <?php echo($location['address']);  ?></option>
						
					<?php } ?>	
				 </select>				
			
			</td>
		</tr>			   
		<tr>
			<td>Postcode</td>
			<td style="width:90px;">Huisnummer </td><td>Toevoeging</td>
		</tr>	
		<tr>
			<td><input type="text"  name="postcode"  value="<?php echo($this->postcode); ?>" required size="6"  pattern="[1-9][0-9]{3}[a-zA-Z]{2}"
						placeholder="1000AX" title="4 cijfers (niet met 0 beginnend) en  daarna 2 letters"
				style="text-transform: uppercase;" />
			</td>	
			<td>
				<input type="number"  name="number"  value="<?php echo($this->number); ?>" size="4" pattern="^[\+,0-9]{1,6}$" 
					 onkeypress="return IsNumericNUMBER(event);"required style="width:100px;" />
			</td>
		  <td>	
			<input type="text"  name="number_add"  value="<?php echo($this->numberAdd); ?>" size="4"  style="width:80px;"/>
		  </td>
		</tr>	
		<tr>
			<td>Straat</td>
			<td colspan="2"><input type="text"  name="street"  value="<?php echo($this->street); ?>"  style="width:200px;" required /></td>
		</tr>
		<tr>
			<td>Stad</td>
			<td colspan="2"><input type="text"  name="city"  value="<?php echo($this->city); ?>"  style="width:200px;" required /></td>
		</tr>			   			   	   
		<tr>
			<td>
			<label for="telefoonnummer">Telefoon</label>
			</td>
			<td colspan="2">
			<input  type="tel" name="gsm" pattern="^[\+,0-9]{10,12}$" 
					 onkeypress="return IsGSMNumeric(event);"	placeholder="10 tot 12 cijfers"
					  title="U mag minimaal 10 tot maximaal 12 cijfers (GEEN Letters) invoeren."
					  required="required" 
			value="<?php echo($this->gsm); ?>" size="12">
			</td>
		</tr>				   
		<tr>
			<td>Geboren</td>
			<td colspan="2">
			  <input type="text"  name="birth_date"  value="<?php echo($this->birthDate); ?>" 
			  data-altFormat="yy-mm-dd" data-field="useDate"
			  required  size="10" placeholder="dd-mm-yyyy"/>
			  <input type="hidden"  name="useDate"  id=""  />

			</td>
		</tr>
		<tr>
			<td rowspan="2">Wachtwoord</td>
			<td colspan="2"><input type="password"  name="password1"  pattern=".{8,12}" value="" 
					placeholder="8 - 12 karakters"
					required size="12" title="8 tot 12 karakters vereist"/>
			</td>
		</tr>	
		<tr>		
		  <td colspan="2"><input type="password"  name="password2"  pattern=".{8,12}" value="" 
			 placeholder="8 - 12 karakters"
			required size="12" title="8 tot 12 karakters vereist"/> (Herhaling)
			</td>
		</tr>	
		<tr style="background:white;">			  
		  <td colspan="3">Uw foto: </td>
		</tr>		   
		<tr style="background:white;">			  
		  <td colspan="3"><input type="file" id="custom-file-input" 
			name="picture" value=""  accept="image/*" required /> </td>
		</tr>	

		 <tr style="background:white;">			  
			<td colspan="3"><label><input type="checkbox" required name="allow_use"  value="YES"  style=" float:left"/>
		  <strong style="float:left;margin-left:40px;margin-top:-20px;">Ik geef de UKGR toestemming om gebruik te maken van mijn gegevens, waaronder gsm, email en adres.</strong> </label></td>
		</tr>	
		<tr >		 
			<td colspan="3"  style="text-align:right;"><input type="reset"  value="Annuleren" onclick="document.location.href='/mijnUkgr'" /> <input type="submit"  value="Registreren"  /> </td>
		</tr>			   
		<tr>      
			<td colspan="3" align="center" style="color:red;"><?php echo($this->errorMessage); ?>&nbsp;</td>
		</tr> 
	</table>
</form>
<script>

	
	$(document).ready(function(){	
		$.datepicker.setDefaults($.datepicker.regional['nl']);
		var today = new Date();
		today.setDate(1);
		today.setYear(new Date().getFullYear() -20);
		
			
 		var formatted = $.datepicker.formatDate("dd-mm-yy", today);
 		$( "form[name='regForm'] :input[name='birth_date']" ).datepicker({ 
			dateFormat : 'dd-mm-yy' ,
			changeMonth: true,
			changeYear: true,
			yearRange: "-100:-10",
			defaultDate : today,
			onSelect: function(dateText) {	
				var $thatInput = $(this).siblings("input[name='"+ $(this).attr('data-field')+"']");
				var dateObject = $(this).datepicker("getDate");	
				var dateString = $.datepicker.formatDate($(this).attr('data-altFormat'), dateObject);	
				$thatInput.val(dateString);
				
			}		
		});	
		
		$( "form[name='regForm'] :input[name='birth_date']" ).blur(function() {
			var $thatInput = $(this).siblings("input[name='"+ $(this).attr('data-field')+"']");
			var dateObject = $(this).datepicker("getDate");	
			var dateString = $.datepicker.formatDate($(this).attr('data-altFormat'), dateObject);	
			$thatInput.val(dateString);
		});
							
	});		
	
</script>


