<?php if (isset($this->post['email']))   { ?>
	 U ontvangt een email waarmee uw wachtwoord kan worden ingesteld. Daarna zult u kunnen inloggen met uw nieuw gekozen wachtwoord. 
	 U kunt <a href="<?php $this->printAction('show'); ?>">terukeren </a>naar de inlog pagina.
<?php } else { ?>
	<h1  align="center">Wachtwoord herstellen mijn Ukgr</h1>
	<form method="POST" action="<?php $this->printAction('reset'); ?>">
	<table align="center"  style="margin-top:20px; margin-bottom:30px;">
	   <tr>
		  <td>eMail</td>
		  <td><input type="text" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" 
			style="width:300px;"  value= "<?php echo($this->email); ?>"    required /></td>
	   </tr>
       <tr>      
     	<tr >		 
			<td colspan="2"  style="text-align:right;">
				<input type="reset"  value="Annuleren" onclick="document.location.href='/mijnUkgr'" /> 
				<input type="submit"  value="Email verzenden"   /> 
			</td>
    	</tr>	
	</table>
	</form>
<?php } ?>	
	
