<h1  align="center">Aanmelding mijn Ukgr</h1>
<form method="POST" action="<?php $this->printAction('validate'); ?>">
<table align="center"  style="margin-top:20px; margin-bottom:30px;">
   <tr>
      <td>eMail</td>
      <td><input type="text" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" 
		style="width:200px;"  value= "<?php echo($this->email); ?>"    required /></td>
      <!-- autofocus  -->
   </tr>
	<tr>
	  <td>Wachtwoord</td>
	  <td ><input type="password"  name="password"  pattern=".{8,12}" value="" 
		placeholder="Uw wachtwoord"
		required size="12" title="8 tot 12 karakters vereist"/></td>
	</tr>	   
   <tr>
		<td valign="top">
			<label for="captcha">Security</label><br/>		
		</td>
		<td valign="top">
			<img src="<?php echo($this->globals['mijnUkgr']);  ?>/script/loginCaptcha.png" width="100" height="25" border="1" alt="CAPTCHA" 
			style="float:left;margin-right:10px;">
			<?php
			 $keyboardissue =  ($this->mobile) ? "onblur=\"this.type='text';\"  onfocus=\"this.type='password';\"" : "";
			?>
			<input  type="text" name="captcha" maxlength="8" size="8" required style="text-transform: uppercase;"  inputmode="password"
				<?php echo($keyboardissue); ?>  > 
		</td>
   </tr>   
   <tr>      
      <td colspan="2" >
		  <input type="image" name="login"  value= "Aanmelden" style="float:right;"  src="<?php $this->printImageSrc('log_in.png'); ?>" title="Aanmelden"  width="36"/> 
		  <a href="<?php $this->printAction('register'); ?>"  style="float:left;"  
			title="Als u geen toegang heeft, zult u zich via die link moeten registreren.">
			<img src="<?php $this->printImageSrc('users_add.png'); ?>" style="float:left;" width="25"
				 />
			<label style="float:left;margin-left:10px; margin-top:5px;">Registreren</label>
		</a>
	  </td>
   </tr> 
   <tr>      
      <td colspan="2" >
		  
		  <a href="<?php $this->printAction('reset'); ?>"  style="float:left;"  
			title="Als u geen toegang heeft, zult u zich via die link moeten registreren.">
			<img src="<?php $this->printImageSrc('key2.png'); ?>" style="float:left;" width="25"
				 />
			<label style="float:left;margin-left:10px; margin-top:5px;">Wachtwoord herstellen</label>
		</a>
	  </td>
   </tr> 
   <tr>      
      <td colspan="2" align="center" ></td>
   </tr> 
   <tr>      
      <td colspan="2" align="center" style="color:red;"><?php echo($this->errorMessage); ?></td>
   </tr> 
</table>
</form>
