<div style="display:block;overflow:hidden;border:2px groove white;background:lavender;">
	<div style="float:right;margin:3px;"> <img src="<?php $this->printImageSrc('activity.png');  ?>" height="24" /> </div>
	<div style="float:left;margin:3px;font-weight:bold;">Mijn Ukgr Agenda</div>
</div>
<style>  
	table.fullWidth {
		border-collapse: collapse;
		background-color: linen;
		width:100%;
	}
  
	table.fullWidth tr.data:nth-child(even)  {
		background-color: ivory;
	}
   
	table.fullWidth tr.header {
	   border : 2px ridge gray;
	   background-color: white;
	}
   
</style>
<table class="fullWidth">
	<tr class="header">
		<th style="width:35px;text-align:left;">&nbsp;</th>  
		<th style="width:100px;">Datum</th>
		<th ><img src="<?php $this->printImageSrc('tick.png');  ?>" height="20" /></th>   
		<th style="width:100px;">Voorkeur &nbsp;</th>   
		<th>&nbsp;</th>
	</tr> 
	 <?php foreach($weekTimes as $dayTime) { 
		$format = 'Y-m-d';		
		$date = DateTime::createFromFormat($format,  $dayTime['next_event']);		
		$dayValue = strftime ('%a ', $date->getTimestamp());  
		$DateDisplay  = $date->format('d-m-Y');  
		$dayValue = strftime ('%a ', $date->getTimestamp());  
		$timeToShow = substr(trim( $dayTime['start_time']), 0,5);
		$timePref   = substr(trim($dayTime['pref_start_time']), 0 ,5);
		$prefColor = "darkgrey";
		if (strlen($timeToShow) >=5) {	
				
			if ($timeToShow  !== $timePref ){
				$prefColor = "maroon";
			} 
		} else {
			$prefColor = "black";
		}
		
				 
	?>	 
	<tr class="data">
		<td><?php echo( $dayValue); ?></td>
		<td style="text-align:center;"><?php echo( $DateDisplay); ?></td>
		<td style="text-align:center;color:green;"><?php echo( $timeToShow); ?></td>
	    <td style="text-align:center;color:<?php echo($prefColor); ?>;"><?php echo( $timePref); ?></td>
	    <td>&nbsp;</td>
	</tr>	
	 <?php } ?>		 
</table>
