<style>
td {
   vertical-align : top !important;
}

</style>
<?php
  $returnCode = $this->globals['admin'] ;
  
  if (isset($_SERVER['HTTP_REFERER'])) {
	  $returnCode = $_SERVER['HTTP_REFERER'];
  }

?>
<h1  align="center">Foutmelding Admin Site</h1>
<table>
	<tr>
		<td><strong>Message:</strong> &nbsp;</td>
		<td style="color:red;"><?php echo($this->errorObject->message); ?></td>
	</tr>
	<tr>
		<td><strong>File:</strong> &nbsp;</td>
		<td><?php echo($this->errorObject->file); ?></td>
	</tr> 
	<tr>
		<td><strong>Line:</strong> &nbsp;</td>
		<td><?php echo($this->errorObject->line); ?></td>
	</tr> 
	<tr>
		<td><strong>Trace:</strong> &nbsp;</td>
		<td>
		   <ul>
		      <?php foreach($this->errorObject->trace as $trace) { ?>
				  <li><?php echo(trim(str_replace("\\n",'',str_replace("\\t", '',$trace)))); ?></li>
			  <?php } ?>	  
		   </ul>			
		</td>
	</tr> 	
	<tr>
		<td><strong>Return:</strong> &nbsp;</td>
		<td><a href="<?php echo($returnCode);  ?>"><img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/door.png" /></a> </td>
	</tr> 	
</table>





