<!DOCTYPE html>
<html lang="nl-NL">
<head>
  <meta charset="UTF-8">
  <title>Wees Gezegend</title>  
	<?php include($this->includeScript('/cssJsLibs/cssinit.php')); ?> 
</head>
<body>
	<div class="innerBody">
		<div class="headerTop">		
			<table  align="right" style="border-collapse: collapse;margin:0;">
			   <tr>
				  <td>
						<a href="<?php $this->printServiceAction('login','logout');  ?>"  
							style="float:right;" title="Afmelden">
							<img src="<?php $this->printImageSrc('log_out.png');;  ?>" height="48"/></a>	  
				  </td>
				  <td rowspan="2" > 	
					  <img id="MijnUkgrImageData" src="<?php echo $this->loadIdImage(); ?>"  height="90"  />
				  </td>
			   </tr>
			   <tr>
				  <td>
					<label id="MijnUkgrFullName" style="color:blue;font-size:11pt;"><?php  echo($this->userRecord['fullName']); ?>&nbsp;</label>
				  </td>
			   </tr>
			</table>
		</div>
		<div class="MenuBar" style="clear:both;" >
			  <?php
				$dispatcher =  new MijnUkgrTabSelect($this->basedir);  
			  ?> 	
			  <?php foreach($this->registered as $key => $menuItem)  {    ?>
				<a href="<?php echo($dispatcher->getHref($key));  ?>"  title="<?php echo($menuItem['label']);  ?>"
			    	class="menuButton<?php  if ($dispatcher->isSelected($key)) { echo(' current');}; ?>" style="background-image : url('<?php $this->printImageSrc($menuItem['image']); ?>');">
			    	&nbsp;</a>	   
			  <?php }  ?>	 
		</div>
		<div class="MainCenterPage" >
			<?php include($pathToView); ?>
		</div>	
	</div>	
</body>
</html>


