<!DOCTYPE html>
<html lang="nl-NL">
<head>
  <meta charset="UTF-8">
  <title>Wees Gezegend</title>  
	<?php include($this->includeScript('/cssJsLibs/cssFramesInit.php')); ?> 
</head>
<body style="background:transparent;">
<?php include($pathToView); ?>
</body>
</html>
