<!DOCTYPE html>
<html lang="nl-NL">
<head>
  <meta charset="UTF-8">
  <title>Wees Gezegend</title>
  	<?php include($this->includeScript('/cssJsLibs/cssinit.php')); ?> 
</head>
<body>
	<div class="outer">
	  <div class="middle">
		<div class="inner"   >
			<?php include($pathToView); ?>
		</div>
	  </div>
	</div>	

</body>
</html>

